<div style="margin-top:20vh;">
  <% if current_user && current_user.admin %>
    <p style="text-align:center">
      <%= link_to "Ajouter un article",
          new_blogpost_path,
          class: "btn btn-primary"
      %>
    </p>
  <%end%>
  <%= render "blogpostoddeven"%>
</div>
