<div class="container-index pt-5" data-controller="favorites">
<h1 class="mb-5 text-center"> Mes favoris</h1>
  
  <%= render "shared/#{Shop.first.card}", products: current_user.favorite_products %>

  <%= console %>
</div>