#house_background {
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:0;
  background-position-x: center;
}



#tableau-slider {
  width:100%;
  height:50vh;
  // margin-top:10vh;
  padding-left:40%;
  padding-right:40%;
  display: -webkit-inline-box;
  scroll-behavior: smooth;
  overflow-x: scroll;
  &::-webkit-scrollbar{
    border-radius: 10px;
    height: 5px;
    background-color: rgba(0,0,0,0);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    background-color: rgba(120,120,120,0.0);
  }
  &::-webkit-scrollbar-track {
    height: 16px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    background-color: rgba(0,0,0,0);
  }
}

.left-scroll-arrow-container {
  position:absolute;
  top:50%;
  left:5%;
}

.left-scroll-arrow {
  display:flex;
  justify-content:center;
  align-items:center;
  height:70px;
  width:70px;
  font-size:60px;
  background:rgba(240,240,240,0.7);
  border-radius:50%
}

.right-scroll-arrow-container {
  position:absolute;
  top:50%;
  right:5%;
}

.right-scroll-arrow {
  display:flex;
  justify-content:center;
  align-items:center;
  height:70px;
  width:70px;
  font-size:60px;
  background:rgba(240,240,240,0.7);
  border-radius:50%
}

.size-adjust-container {
  position:absolute;
  left:5%;
  bottom:5%;
  width:300px;
  height:150px;
  display:flex;
  justify-content:space-around;
  background:rgba(240,240,240,0.7);
  border-radius: 40px;
}

.size-adjust {
  height:70px;
  width:70px;
  font-size:60px;
  color:black
}

.tableau_60x90_paysage {
  margin-top:15vh;
  margin-left:0vh;
  transition: 1000ms;
  height:300px;
  width:450px;
  margin-right:100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.tableau_90x120_paysage {
  margin-top:5vh;
  transition: 1000ms;
  height:450px;
  width:676px;
  margin-right:100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.frame-shadow {
  box-shadow: 2px 2px 5px rgb(100,100,100);
}

.grow_shrink_button {
  &:hover {
    transform: scale(120%);
    transition: 200ms;
    color:blue;
  }
}
