<%#
IMPOSSIBLE D'UTILISER JRENDER EN JS POUR CHANGER LA VALUE DU FORM OU INJECTER DE L'ERB, LE FORM EST DONC COMMENTE
CE FORM PERMET DE DISPLAY DES SUGGESTIONS DE RECHERCHE %>

<%#= form_with url: search_products_path, method: :post do |form|%>
  <%#= form.search_field :name_search, value:"XYZ" ,oninput: "this.form.requestSubmit()" %>
<%#end%>

<%# <div id="search_results">??????</div> %>







<%# CE FORM HTML BASIC RECUPERE BIEN L'INPUT QUI EST SAISI DANS L'INPUT RECHERCHE SANS SUGGESTION
GRACE AU CONTROLLEUR JS duplicatesearch . CEPENDANT CA NE CHANGE PAS LE PROBLEME CAR IL FAUDRAIT
POUVOIR INJECTER DE L'ERB%>


<%# <form url="search_products" action="product/search" method="post"> %>
<%# value="MACHIN" peut etre inséré dans la div directement manuellement.
Peut-on changer la value avec du JS? Pas réussi mais surement faisable %>
    <%# <div id="FORMCLASSIQUE"> %>
      <%# <input type="inputcopied" id="DELETE_WHEN_NEW_INPUT" name="inputcopied"> %>
    <%# </div> %>
<%# </form> %>
<%# <div id="search_results">???</div> %>
