
    <%# affichage des coupons %>
<div class="container">
    <h1 class="mb-5 text-center">Coupons disponibles</h1>
    <div class="row d-flex justify-content-center">
      <% @coupons.each do |coupon| %>
        <% cache coupon do %>
          <%= link_to coupon.name, coupon_path(coupon), class: "btn btn-primary mt-2 mb-2" %>
        <%end%>
      <% end %>
    <div class="btn btn-primary mt-2 mb-2" >
      <%= link_to "Créer un coupon en montant fixe", amount_off_coupon_path, style:"text-decoration:none;color:white;"%>
    </div>
    <div class="btn btn-primary mt-2 mb-2">
      <%= link_to "Créer un coupon en pourcentage", percent_off_coupon_path, style:"text-decoration:none;color:white;"%>
    </div>
  </div>
</div>
