<div class="footer mt-auto text-center">
  <div style="margin-top:12vh">
    <ul style="list-style:none">
      <li>
        <div class="d-flex justify-content-center footer-links">
          <a href="#" target="_blank"><i class="textourwhite fab fa-instagram"></i></a>
          <p>- L'@telier de Lysiane -</p>
          <a href="#" target="_blank"><i class="textourwhite fab fa-facebook"></i></a>
        </div>
      </li>
      <li>
        <p>- 7 Rue de la Brèche Beaulieu, Crèvecœur-en-Brie 77610 -</p>
      </li>
      <li>
        <%# <p>Horaires et contact</p> %>
        <%= link_to "- Horaires et contacts -", shop_path(Shop.first) , style:"text-decoration:none;color:white;"%>
      </li>
    </ul>
  </div>
</div>
