<div class="footer mt-auto text-center">
  <div style="margin-top:12vh">
    <ul style="list-style:none">
      <li>
        <div class="d-flex justify-content-center footer-links">
          <a href="#" target="_blank"><i class="textourwhite fab fa-instagram"></i></a>
          <p>@VotreEntreprise</p>
          <a href="#" target="_blank"><i class="textourwhite fab fa-facebook"></i></a>
        </div>
      </li>
      <li>
        <p>16 villa Gaudelet 75011 Paris</p>
      </li>
      <li>
        <p>Horaires et contact</p>
      </li>
    </ul>
  </div>
</div>
