<div class="footer mt-auto text-center" style="background-image:radial-gradient(circle, rgba(0,0,0,0.29485297536983546) 0%, rgba(0,0,0,0.50773812943146) 44%, rgba(0,0,0,0.6449930313922444) 100%), url('<%= cl_image_path Shop.first.footer.key %>')">
  <div style="margin-top:12vh">
    <ul style="list-style:none">
      <li>
        <div class="d-flex justify-content-center footer-links">
          <a href="#" target="_blank"><i class="textourwhite fab fa-instagram"></i></a>
          <p>- <%=Shop.first.name%> -</p>
          <a href="#" target="_blank"><i class="textourwhite fab fa-facebook"></i></a>
        </div>
      </li>
      <li>
        <p>- <%=Shop.first.address%> -</p>
      </li>
      <li>
        <%# <p>Horaires et contact</p> %>
        <%= link_to "- Horaires et contacts -", shop_path(Shop.first) , style:"text-decoration:none;color:white;"%>
      </li>
    </ul>
  </div>
</div>
<% console%>
