<div  class="leftbodybanner"  style="background-image: url('<%= cl_image_path Shop.first.leftbodybanner.key %>'); background-size: cover; background-repeat: no-repeat; background-position: center;">>
</div>
<div  class="rightbodybanner" style="background-image: url('<%= cl_image_path Shop.first.rightbodybanner.key %>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
</div>
