<div id="darken">
</div>
<div id="panierflottant"
     class="menupanier">
  <div  id="cart">
    <div style="text-align:end;">
      <button type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          style=" z-index:1001;margin-top:4vh;margin-right:4vw;"
          data-controller="panier",
          data-action="click->panier#removePanier">
      </button>
    </div>
    <%if @cart && @cart.line_items.any? %>
      <%= render "carts/cart", cart: @cart %>
    <%else%>
      <h2 style="text-align:center;margin:100px;margin-top:10vh;">Panier vide</h2>
    <%end%>
  </div>
</div>
