<section class="reassurance_area">
  <div class="reassurance">
    <%= image_tag "reinsurrance/263133.png", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p style="text-align:center;font-size:larger">aucun cookies stockées, données personnels</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/CB.png", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p>Paiement sécurisé</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/livraison.png", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p>Livraison sous 7jours en France Metropolitaine</p>
  </div>
  <%# <div class="reassurance" style="background:green"> %>
    <%#= image_tag "reinsurrance/btn_#{provider.to_s}_signin.png", :style => ""%>
  <%# </div> %>
</section>
