<div class="shortcut_payement">
  <%# Chemin non fonctionnel %>
    <%= button_to "Passez commande", orders_path, class:"btn btn-success m-3" %>
  <%# Ici il faut que le clic sur le bouton declenche un element JS qui clos la div en la faisant passé display none ou en la supprimant du DOM %>
    <%= button_to "Continuer mes achats", products_path, class:"btn btn-info m-3" %>
</div>
