<%# MISE EN PAGE CENTRE %>
<div style="display:flex;justify-content:center">
<%# ENSEMBLE GLOBAL %>
  <div id="house_background" data-controller="gallerie" style="position:relative;">
    <img id="room1" src="https://i.ibb.co/QJ4663s/Salon-tableau.png" alt="salon1">
    <img id="room2" src="https://i.ibb.co/hKKrLrV/salon6.png" alt="salon2" style="display:none">
    <img id="room3" src="https://i.ibb.co/PWFpcZk/Salon2.png" alt="salon3" style="display:none">
    <img id="room4" src="https://i.ibb.co/RTMVj6G/salon3.png" alt="salon4" style="display:none">
    <img id="room5" src="https://i.ibb.co/hXW62Dv/salon5.png" alt="salon5" style="display:none">
<%# BOUTON DE DEFILEMENT GAUCHE %>
    <button class="left-scroll-arrow-container" data-action="click->gallerie#move_left"><i class="fa-solid fa-arrow-left left-scroll-arrow"></i></button>
    <button class="up-scroll-arrow-container" data-action="click->gallerie#move_up"><i class="fa-solid fa-arrow-up"></i></button>
    <button class="down-scroll-arrow-container" data-action="click->gallerie#move_down"><i class="fa-solid fa-arrow-down"></i></button>
    <button class="right-scroll-arrow-container" data-action="click->gallerie#move_right"><i class="fa-solid fa-arrow-right"></i></button>
        <button class="rotateYmore-container" data-action="click->gallerie#rotate_frame_more"><i class="fa-solid fa-arrow-right" style="background:red"></i></button>
        <button class="rotateYless-container" data-action="click->gallerie#rotate_frame_less"><i class="fa-solid fa-arrow-left" style="background:red"></i></button>

      <%# ZONE TABLEAU %>
      <div id="tableau-slider" data-value="1">
        <div style="height:500px;width:500px;position:relative" id="frameadjusting">
          <% if @product.photos.first %>
            <%= cl_image_tag @product.photos.first.key, style:"max-width: 100px;height:auto;position:absolute;top:50px;margin-left:400px;transform: perspective(400px) rotateY(0deg) scale(1);", id:"mainframe"%>
          <% end %>
        </div>
      </div>

<%# BOUTON DEFILEMENT DROIT %>

    <div class="size-adjust-container">
      <button class="grow_shrink_button" data-action="click->gallerie#shrink_frame">
        <i class="fa-solid fa-down-left-and-up-right-to-center size-adjust"></i>
      </button>

      <button class="grow_shrink_button" data-action="click->gallerie#bigger_frame">
        <i class="fa-solid fa-up-right-and-down-left-from-center size-adjust"></i>
      </button>
    </div>

    <div class="bg_selector">
      <p id="r1" data-action="click->gallerie#change_bg1">1</p>
      <p id="r2" data-action="click->gallerie#change_bg2">2</p>
      <p id="r3" data-action="click->gallerie#change_bg3">3</p>
      <p id="r4" data-action="click->gallerie#change_bg4">4</p>
      <p id="r5" data-action="click->gallerie#change_bg5">5</p>
    </div>
  </div>
</div>
