<%# MISE EN PAGE CENTRE %>
<div style="display:flex;justify-content:center">
<%# ENSEMBLE GLOBAL %>
  <div id="house_background">
    <img id="room1" class="roombg" src="https://i.ibb.co/PWFpcZk/Salon2.png" alt="salon1" data-gallerie-target="room1">
    <img id="room2" class="roombg" src="https://i.ibb.co/hKKrLrV/salon6.png" alt="salon2" style="display:none" data-gallerie-target="room2">
    <img id="room3" class="roombg" src="https://i.ibb.co/QJ4663s/Salon-tableau.png" alt="salon3" style="display:none" data-gallerie-target="room3">
    <img id="room4" class="roombg" src="https://i.ibb.co/RTMVj6G/salon3.png" alt="salon4" style="display:none" data-gallerie-target="room4">
    <img id="room5" class="roombg" src="https://i.ibb.co/hXW62Dv/salon5.png" alt="salon5" style="display:none" data-gallerie-target="room5">
    <img id="myhome" class="roombg" src="" alt="chezmoi"  style="display:none;" data-gallerie-target="room6">
    <div id="tableau-slider" data-value="1">
      <div class="frameadjustingarea" id="frameadjusting">
        <% if @product.photos.first %>
          <%= cl_image_tag @product.photos.first.key, class:"framedefaultsize", style:"position:absolute;top:10px;margin-left:40%;transform: perspective(400px) rotateY(0deg) scale(1);", id:"mainframe", data: { gallerie_target: "frame"}%>
          <div id="framewidth" class="d-flex" style="color:black;align-items:baseline;font-size:smaller;position:absolute;top:-10%;margin-left:40%;transform: perspective(400px) rotateY(0deg);" data-gallerie-target="framewidth">
            <p style="background: rgba(255,255,255,0.15);border-radius:4px"><i>largeur <%=@product.width%> cm</i></p>
          </div>

        <% end %>
      </div>
    </div>
        <button class="eye" data-action="click->gallerie#hidebutton"><i class="fa-solid fa-eye"></i></button>
    <div id="simulateurgridmobile" class="simulateurgridmobile">
      <div id="simulateurmobilebutton" >
        <button class="left-scroll-arrow-container" data-action="click->gallerie#move_left"><i class="fa-solid fa-arrow-left left-scroll-arrow"></i></button>
        <button class="up-scroll-arrow-container" data-action="click->gallerie#move_up"><i class="fa-solid fa-arrow-up"></i></button>
        <button class="down-scroll-arrow-container" data-action="click->gallerie#move_down"><i class="fa-solid fa-arrow-down"></i></button>
        <button class="right-scroll-arrow-container" data-action="click->gallerie#move_right"><i class="fa-solid fa-arrow-right"></i></button>
            <button class="rotateYmore-container" data-action="click->gallerie#rotate_frame_more"><i class="fa-solid fa-arrow-right" style="background:red"></i></button>
            <button class="rotateYless-container" data-action="click->gallerie#rotate_frame_less"><i class="fa-solid fa-arrow-left" style="background:red"></i></button>
        <div class="size-adjust-container">
          <button class="grow_shrink_button" data-action="click->gallerie#shrink_frame">
            <i class="fa-solid fa-down-left-and-up-right-to-center size-adjust"></i>
          </button>
          <button class="grow_shrink_button" data-action="click->gallerie#bigger_frame">
            <i class="fa-solid fa-up-right-and-down-left-from-center size-adjust"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div style="display:grid;justify-content:center;margin:1rem">
    <p style="text-align:center;font-weight:bold"><i class="fa-sharp fa-solid fa-angles-down fa-bounce" style=";font-weight:bold;margin-right:0.2rem"></i></i>Téléchargez une photo de chez moi<i class="fa-sharp fa-solid fa-angles-down fa-bounce" style="font-weight:bold;margin-left:0.2rem"></i></p>
    <div style="display-flex">
      <i class="fa-sharp fa-solid fa-angles-right fa-fade fa-xl"></i>
      <input type="file" id="imageUpload" accept="image/*" onchange="myhomeImage()" >
    </div>
  </div>
  <p style="text-align:center;color:blue;display:grid">Ou selectionnez un intérieur:</p>
  <div id="bg_selector">
    <p id="r1" data-action="click->gallerie#change_bg1">1</p>
    <p id="r2" data-action="click->gallerie#change_bg2">2</p>
    <p id="r3" data-action="click->gallerie#change_bg3">3</p>
    <p id="r4" data-action="click->gallerie#change_bg4">4</p>
    <p id="r5" data-action="click->gallerie#change_bg5">5</p>
  </div>
</div>




<script>
  function myhomeImage() {
    const bgselector = document.getElementById('bg_selector');
    let myhome = document.querySelector('#myhome');
    let file    = document.querySelector('#imageUpload').files[0];
    let reader  = new FileReader();
    let r6 = document.getElementById('r6');

    reader.onloadend = function () {
      myhome.src = reader.result;
      myhome.style.display = "block";
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      myhome.src = "";
    }


    if (r6 === null) {
      // console.log("OKAY")
      bgselector.insertAdjacentHTML('beforeend', '<p id="r6" class="roombg" data-action="click->gallerie#change_bg6" style="color:red;font-weight:bold">Chez moi</p>');
    }
  }
</script>
