<table class="table table-sm">
  <h5 class="mt-3 font-weight-bold">Nos horaires d'ouverture</h5>
  <tbody>
    <tr>
      <th scope="row">Lundi</th>
      <td>10h00 - 12h30</td>
      <td>14h00 - 19h00</td>
    </tr>
    <tr>
      <th scope="row">Mardi</th>
      <td>10h00 - 12h30</td>
      <td>14h00 - 19h00</td>
    </tr>
    <tr>
      <th scope="row">Mercredi</th>
      <td>10h00 - 12h30</td>
      <td>14h00 - 19h00</td>
    </tr>
    <tr>
      <th scope="row">Jeudi</th>
      <td>10h00 - 12h30</td>
      <td>14h00 - 19h00</td>
    </tr>
    <tr>
      <th scope="row">Vendredi</th>
      <td>10h00 - 12h30</td>
      <td>14h00 - 19h00</td>
    </tr>
    <tr>
      <th scope="row">Samedi</th>
      <td>10h00 - 12h30</td>
      <td>14h00 - 19h00</td>
    </tr>
    <tr>
      <th scope="row">Dimanche</th>
      <td>Fermé</td>
      <td>Fermé</td>
    </tr>
  </tbody>
</table>
