<div class="container CGV">
  <h1>CONDITIONS GENERALES D'UTILISATION</h1>

  <h2>ARTICLE 1. CHAMP D'APPLICATION</h2>

  <p>Les conditions générales de vente détaillées ci-dessous (ci-après désignées les " Conditions Générales "), régissent les relations contractuelles entre tout utilisateur du site wall-art-works.com (ci-après désigné un "Utilisateur" ou "Vous") et l'enseigne commerciale Wall Art Works appartenant à PREVOST Aurélien au capital de 1000 EUROS, dont le siège social est situé au 4 rue Albert Einstein - 93200 FRANCE et immatriculée au registre du commerce et des sociétés de Bobigny sous le numéro 850360819 (ci-après désignée "Wall Art Works").
  Les présentes conditions générales de vente sont les seules à s'appliquer et remplacent toutes les autres conditions, à moins qu'il n'y ait eu une dérogation préalable, expresse et écrite. Wall Art Works se réserve le droit de modifier certaines dispositions de ces conditions et il vous est demandé de les relire avant chaque visite du site wall-art-works.com (ci-après désigné le "Site"). Pour toute transaction, il est indispensable d'accepter les conditions générales de vente en cochant la case de consentement, qui déverrouillera le bouton de paiement. Les dispositions complètes seront applicables dès lors que vous aurez donné votre consentement, et elles ne pourront en aucun cas être modifiées. Les modifications seront effectives dès leur mise en ligne et ne pourront pas s'appliquer aux contrats conclus antérieurement. Il est recommandé d'imprimer les conditions générales de vente lors de chaque transaction pour garantir leur validité. Chaque achat sur le site est soumis aux conditions générales en vigueur à la date de la commande, que vous acceptez sans réserve en validant votre commande. En accédant au site, vous vous engagez à respecter ces conditions générales. Il convient de préciser que ces conditions régissent les ventes de biens et services de Wall Art Works sur le site. Notez que Wall Art Works n'est pas un imprimeur, mais seulement un fournisseur de fichiers numériques prêts à être sous-traités à un prestataire de son choix.Aucun stock n’est propriété de Wall Art Works, aussi vous devrez considérer tout produit vendus par Wall Art Works depuis son site comme un  « Biens confectionnés à votre demande ou nettement personnalisés dont la fabrication nécessite des adaptations particulières pour répondre à des exigences techniques et esthétiques très précises (par exemple, meuble ou vêtement confectionné sur mesure). Le choix d'options (couleur, finition...) dans les gammes d'éléments standards proposées par le professionnel ne modifie pas suffisamment la nature ou la destination des biens, pour les rendre nettement personnels » Conformément à l’article 10 de l’ordonnance n° 2021-1734 du 22 décembre 2021
  </p>

  <h2>ARTICLE 2. UTILISATION DU SITE</h2>

  <p>Afin d'utiliser le Site, il est impératif que vous soyez majeur selon la législation française et que vous soyez en mesure de contracter légalement en utilisant le Site conformément à nos Conditions Générales. Vous devez également vous assurer que les informations que vous fournissez sont véridiques et précises. Veuillez noter que Wall Art Works se réserve le droit d'annuler ou de refuser toute commande si vous êtes impliqué dans un litige de paiement relatif à une commande précédente.
  Il est important de souligner que le Site est disponible uniquement en langue française. Si vous utilisez un traducteur en ligne qui produit des erreurs de traduction, Wall Art Works ne pourra être tenu responsable des éventuelles erreurs d'interprétation des informations présentes sur le site Wall Art Works.
  </p>

  <h3>2.1/ Caractéristiques essentielles des produits</h3>

  <p>Les produits en vente sur le site sont des œuvres d'art générées manuellement, partiellement manuellement ou créées en utilisant l'intelligence artificielle. Elles peuvent également avoir été retouchées pour amélioration, communément appelée « retouche d'images ». En outre, Wall Art Works peut nouer des partenariats avec des tiers pour offrir du contenu supplémentaire dont il ne détient pas directement les droits mais pourrait proposer ces produits à la vente grâce à des contrats préalablement passés. Les œuvres sont proposées dans un ou plusieurs formats et supports, selon ce que Wall Art Works juge bon de proposer à sa clientèle. Si vous avez une demande spécifique concernant le format ou l'encadrement, veuillez utiliser le formulaire de contact pour nous soumettre votre requête. Nous l'examinerons et y répondrons favorablement ou non. Dans la mesure du possible, Wall Art Works s'engage à faire tout son possible pour satisfaire votre demande. Les œuvres présentées sur le site peuvent être libres de droit ou appartenir en partie ou en totalité à Wall Art Works selon le droit français.
  </p>

  <p>Les prix sont indiqués toutes taxes comprises, hors participation aux frais d'expédition sauf mention contraire comme par exemple « frais de port offerts ». Tout paiement doit être effectué en euros, aucune autre devise ou crypto-monnaie ne saurait être acceptée. Les livraisons ont lieu en France métropolitaine uniquement, sauf accord préalablement validé. Veuillez nous contacter via le formulaire pour toute demande personnalisée.
  Dans le cas d'une commande où l'adresse mentionnée pour la livraison serait hors France métropolitaine, celle-ci serait de plein droit refusée par Wall Art Works. Wall Art Works se réserve le droit de faire évoluer ses tarifs à tout moment à la hausse comme à la baisse, notamment par l'action d'offres promotionnelles, sans en avertir au préalable sa clientèle. Toute commande déjà validée et en cours de traitement ne pourrait se prévaloir du nouveau prix affiché s'il venait à diminuer. Les œuvres seront facturées sur la base des tarifs en vigueur au moment de l'enregistrement des commandes, sous réserve que notre sous-traitant (imprimeur) soit en mesure de traiter la commande. Les œuvres demeurent la propriété de Wall Art Works jusqu'au complet paiement du prix indiqué. Le transfert de propriété du bien s'effectue à compter de la réception de la marchandise par le client.
  L'achat d'une œuvre Wall Art Works ne vous confère aucunement le droit de la reproduire totalement ou partiellement, que vous en fassiez commerce ou non. Toute contrevenance à cette règle pourra entraîner des poursuites pénales auprès du tribunal compétent. Dans le cas exceptionnel où Wall Art Works, pour des raisons indépendantes de sa volonté, serait dans l'impossibilité de délivrer le produit commandé, celui-ci vous sera remboursé intégralement sans autres mesures compensatoires complémentaires à ce que la législation en vigueur prévoit.
  </p>

  <h3>2.2/ Passer commande</h3>

  <p>
  Pour passer commande, vous devez au minimum suivre les étapes suivantes :
  </p>
  <li>Consultez un produit en accédant à sa fiche. Sur cette page, vous pourrez choisir parmi une sélection de plusieurs options, telles que la taille, l'encadrement, le support, etc. Pour cela, cliquez simplement sur la case correspondant à votre demande. Aucun stock n'est disponible, toutes les commandes seront éditées à la demande. Vous devrez cliquer sur « Ajouter au panier » pour ajouter cet article à votre panier.
  </li>
  <li>Dans la barre de navigation située en haut de votre écran, vous pourrez voir un logo « panier » dans lequel votre sélection sera versée. En cliquant sur ce logo, un encart se déploiera vous permettant d'ajouter ou de retirer des quantités, de supprimer un produit, et de poursuivre votre parcours d'achat en cliquant sur le bouton « Finaliser ma commande » situé en bas de page. Vos favoris, si vous êtes connecté et que vous en avez coché, apparaîtront dans la partie inférieure de votre panier.
  </li>
  <li>Vous accéderez alors au récapitulatif de commande. Nous vous demandons d'être particulièrement attentif ici, notamment quant aux dimensions souhaitées, au support ainsi qu'à l'orientation de l'œuvre. En effet, votre commande étant traitée comme un bien à confectionner sur mesure, elle ne pourra faire l'objet d'une annulation ou d'une reprise si vous avez fait une erreur et que nous avons déjà lancé le traitement de la commande, c'est-à-dire l'impression. Une fois imprimée, aucun remboursement ne sera possible, la confection sur mesure d'une œuvre n'entrant pas dans le champ d'application des 14 jours de délai de rétractation prévu par le code de la consommation, conformément à l'article 10 de l'ordonnance n° 2021-1734 du 22 décembre 2021. Vous devrez cocher la case stipulant : « En cochant cette case, je reconnais avoir pris connaissance des mentions légales et j'accepte les conditions générales de vente et de garantie ». Une fois la case cochée, vous pourrez poursuivre votre parcours d'achat. Les conditions générales de vente et d'utilisation du site doivent être acceptées à chaque commande, et nous vous invitons à les relire afin de vous assurer qu'aucune modification n'a eu lieu depuis votre dernier achat.
  </li>
  <li>Vous atteindrez dès lors un écran de paiement sur lequel s'afficheront le ou les produits commandés sous forme de récapitulatif et un encart de paiement vous invitant à effectuer l'acquittement par carte bancaire ou par d'autres modalités de paiement. Si vous souhaitez procéder par virement bancaire, c'est tout à fait possible. Merci, pour cela, de nous contacter via le formulaire de contact. Votre commande sera traitée à réception des fonds. Un mail de confirmation vous sera transmis dès lors confirmant le lancement du traitement de votre commande. Pensez à vérifier le mode de livraison et, le cas échéant, à appliquer votre code remise en le saisissant dans la case correspondante. Si, dans un délai bref,
  </li>

  <h3>2.3/ Moyens de paiement</h3>

  <p>Plusieurs modes de paiement vous sont proposés pour régler votre commande sur le site : • Carte bleue, carte bleue virtuelle, Visa, Mastercard. • Apple Pay / Google Pay • Virement bancaire (commande depuis l'Union Européenne uniquement) et via le formulaire de contact uniquement, car nous devrons au préalable vous créer une commande dans notre système pour ce faire
  </p>

  <h3>2.4/ Sécurité des paiements</h3>

  <p>Pour les paiements par carte bancaire, Wall Art Works a retenu l'intermédiaire de paiement "Stripe", l'un des leaders mondiaux du paiement par internet, afin de vous assurer une sécurité maximale dans votre transaction. À cet effet, une redirection vers leur plateforme de paiement est opérée au moment de valider votre paiement. Les données bancaires de l'utilisateur sont cryptées à l'aide de la technologie SSL (Secure Socket Layer). Elles ne circulent pas en clair sur internet et ne peuvent être interceptées. Vos données bancaires (numéro de carte, date d'expiration, titulaire, etc.) ne sont pas communiquées à Wall Art Works. L'adresse de livraison vous sera demandée sur cette même page de paiement. Il est à noter que sans adresse de livraison communiquée, la livraison ne pourra pas être effectuée.
  </p>

  <h3>2.5/ Preuve</h3>

  <p>Les données enregistrées lors du paiement par « Stripe » constituent la preuve de l'ensemble des transactions passées entre le site et ses clients. Les données enregistrées par le système de paiement « Stripe » constituent la preuve des transactions financières. Notre site ne collecte en effet en aucun cas votre position géographique, votre Nom votre Prénom ou tout autre données personnelles. Notre site web n’est pas conçu pour enregistrer autre chose qu’une adresse e-mail et un mot de passe afin de vous créer un compte, si vous en avez fait le choix, dans sa base de données afin de se prémunir au maximum de tout litige ou vol de données s’il venait malencontreusement à arriver. En effet même les sites les mieux protégé aujourd’hui ne saurait se prévaloir des attaques web les plus sophistiquées.
  </p>

  <h3>2.6/ Livraison</h3>

  <h4>2.6.1 - Traitement des commandes</h4>

  <p>L'ensemble des œuvres commandées est envoyé en une seule commande sauf conditions spécifiques à retrouver sur la fiche produit ou par mail après confirmation de la transaction.
  Les Produits ne transitent pas par Wall Art Works et sont directement expédié depuis l’imprimeur à l’adresse de livraison mentionné lors du paiement. Le délai de traitement d’une commande est en moyenne de 24h, jours ouvrés, mais ce délai n’est pas contractuel et pourra sous-certaine contraintes être allongé sans ne jamais excéder 72heures.
  </p>

  <h4>2.6.2 - Adresse de livraison</h4>

  <p>Wall Art Works effectue les livraisons uniquement en France métropolitaine. Si vous souhaitez une livraison dans un autre pays, vous devrez obtenir une autorisation préalable de Wall Art Works qui doit être validée. Tout coût supplémentaire lié à l'expédition hors de la France, y compris les frais de transport supplémentaires, les frais de douane et autres taxes potentielles, sera à votre charge. L'adresse de livraison que vous aurez sélectionnée au moment du paiement sera considérée comme l'adresse de livraison, et elle peut être différente de l'adresse de facturation. Le changement de l'adresse de livraison après la validation de votre commande n'est souvent pas possible pour des raisons logistiques. Si vous souhaitez modifier l'adresse de livraison, vous pouvez nous contacter, et nous examinerons les options au cas par cas.
  </p>

  <h4>2.6.3 - Modes de livraison et délais</h4>

  <p>Les options de livraison disponibles dépendent de la quantité et de la taille de la commande, ainsi que du pays de destination. Wall Art Works se réserve le droit de choisir le transporteur, mais, dans la plupart des cas, nous nous fions au livreur choisi par notre prestataire imprimeur chargé de l'expédition. La date de livraison dépend du temps nécessaire à l'impression, de la date d'expédition de la commande et du délai de livraison associé à l'option de livraison choisie. Les délais de livraison estimés sont de quatorze (14) jours ouvrés (hors samedis, dimanches et jours fériés) à partir de l'envoi du courriel de livraison, qui est différent du courriel de confirmation de commande. Le délai peut être prolongé si la livraison doit être effectuée dans une zone d'accès difficile, telle qu'un centre-ville ou une région mal desservie en termes d'infrastructures. Nous ferons tout notre possible pour livrer les produits commandés dans le délai indiqué dans le courriel de livraison. Bien que nous nous efforcions de livrer vos produits dans les délais prévus, les dates de livraison ne sont qu'indicatives et ne sont pas garanties. Par conséquent, nous ne pouvons être tenus responsables en cas de retard de livraison. Toutefois, un délai maximum de trente (30) jours à compter de la réception du courriel de livraison est garanti. Si vous recevez la marchandise après ce délai et ne la refusez pas lors de la livraison, nous considérerons que vous ne souhaitez pas annuler la commande, et vous ne pourrez donc pas prétendre à un remboursement ou à un retour des articles commandés. Le client doit être disponible pour la livraison et s'engager à prendre possession des articles commandés. Si vous n'êtes pas disponible pour la livraison, votre commande pourrait être annulée, et les sommes déjà versées seraient conservées par Wall Art Works à titre d'indemnité.
  </p>

  <h4>2.6.4 - Frais de ports</h4>

  <p>Les frais de port sont à la charge du client et dépendent du mode de livraison choisi ainsi que du nombre et du format des œuvres commandées. Les détails des frais de port unitaires sont visibles directement sur la fiche produit, dans le récapitulatif de commande et sur la page de paiement. Dans le cas où les produits sont affichés avec les frais de port inclus, aucun détail supplémentaire ne sera fourni. En validant une transaction, vous acceptez les conditions générales d'utilisation établies par Wall Art Works et vous devenez un client de Wall Art Works.
  </p>

  <h4>2.6.5 - Taxes et frais de douanes hors Union Européenne</h4>

  <p>Lorsque des articles sont expédiés en dehors de l'Union Européenne, le destinataire peut être soumis à des taxes, droits de douanes et autres impôts dans le pays de destination, appelés « Frais d'importation ». En passant commande, le destinataire accepte d'être désigné importateur officiel dans le pays de réception de la commande et est responsable de ces frais d'importation. Pour chaque article importé, Wall Art Works est autorisé à désigner un transporteur agissant en tant qu'intermédiaire avec les autorités compétentes pour la gestion et le règlement des frais d'importation dans le pays de destination. En passant commande, le destinataire accepte également que le transporteur puisse partager avec Wall Art Works le montant de ces frais d'importation qui pourront vous être refacturés. Pour obtenir des détails sur les frais d'importation réels, ou pour obtenir les documents ou les reçus liés au dédouanement, le destinataire peut contacter le transporteur désigné indiqué dans la confirmation d'envoi. Nous recommandons également au destinataire de se renseigner sur la législation et la réglementation du pays de destination ainsi que de tout pays par lequel la marchandise pourrait transiter. Wall Art Works n'est en aucun cas tenu d'informer le destinataire de ces lois et règles en vigueur dans ces pays et il appartient au destinataire de s'informer et de s'en charger.
  </p>

  <h4>2.6.6 - Réception de la livraison</h4>

  <p>Lorsque vous recevez votre commande, il est de votre responsabilité de vérifier l'état des œuvres en présence du transporteur en ouvrant le colis. Si vous ne pouvez pas le faire personnellement, demandez à la personne en charge de le faire pour vous. Si un problème est constaté, veuillez informer immédiatement notre service clientèle et retourner le colis au livreur (La Poste ou transporteur privé) en signalant le problème.
  Ne signez pas le bon de livraison si la commande est endommagée à la réception. Si le bon de livraison est signé sans mentionner les dommages sur le bordereau de livraison, aucune réclamation ne sera acceptée.
  Le livreur et le client doivent tous deux conserver une copie du bordereau de livraison. En cas de litige, seuls les tribunaux compétents pourront trancher.
  Si vous avez choisi une livraison par transporteur privé, notez que le transporteur n'est pas obligé de livrer à l'intérieur de votre domicile et peut vous remettre le colis à l'entrée de votre maison ou immeuble. Nous vous recommandons donc de prévoir de l'aide pour transporter le colis dans votre domicile. Il est déconseillé d'utiliser des outils ou équipements contondants pour ouvrir le colis afin d'éviter d'endommager le contenu. Si vous endommagez le contenu en ouvrant le colis de cette manière, Wall Art Works ne pourra pas être tenu responsable.
  La réception des objets transportés éteint toute action contre le transporteur pour avarie ou perte partielle si le destinataire n'a pas notifié au transporteur sa protestation motivée dans les trois jours suivant la réception, non compris les jours fériés, par acte extrajudiciaire ou par lettre recommandée (article L 133.3 du Code du commerce). Les frais d'envoi de tout courrier extrajudiciaire restent à la charge du client et ne peuvent pas être assumés ou refacturés à Wall Art Works.
  </p>

  <h4>2.7 - Droit de rétractation</h4>

  <p>Veuillez noter que Wall Art Works n'a pas de stock, et que chaque œuvre est fabriquée sur commande auprès d'un imprimeur sous-traitant qui se charge de l'impression et de l'expédition. Les options d'achat disponibles pour chaque produit sont préenregistrées sur notre site, mais ne sont pas exhaustives. Elles sont là pour vous fournir des simulations et des pré compositions afin de faciliter votre choix. Dans tous les cas, les œuvres imprimées sont soumises aux conditions mentionnées précédemment.
  Aucun retour en contre-remboursement ne sera accepté, quelle qu'en soit la raison. Vous devez obtenir un accord écrit de notre part avant de retourner un produit et d'exiger un quelconque remboursement.
  Si Wall Art Works accepte exceptionnellement de reprendre un produit, celui-ci doit être retourné dans son emballage d'origine, complet, non abîmé, non endommagé et non sali par le client, faute de quoi le retour ne pourra être validé. Les frais de retour resteront à votre charge, quelle que soit la situation.
  Si vous n'avez jamais reçu votre commande en raison d'une erreur du transporteur, veuillez nous contacter afin que nous puissions prendre contact avec le transporteur. Lors de la livraison, vous devez exiger un bordereau de livraison ou un CRM, que vous signerez ou non en y ajoutant les réserves nécessaires, conformément aux modalités indiquées dans les conditions générales. L'absence de ce bordereau rendrait toute contestation compliquée, voire impossible.
  Dans le cas où un retour est accepté, Wall Art Works remboursera le prix des articles retournés ainsi que les frais d'envoi initiaux (les frais de retour restent à votre charge) dans un délai de 14 jours suivant la réception des articles ou la réception d'une preuve de l'expédition des articles. Le remboursement sera effectué par crédit sur le compte bancaire utilisé pour le règlement ou par virement bancaire, selon le mode de paiement utilisé lors de la commande.
  </p>

  <h4>2.8 - Droit de retour</h4>

  <p>Si les œuvres reçues ne sont pas conformes à votre commande, vous disposez d'un droit de retour. Pour cela, veuillez contacter notre service clientèle via le formulaire de contact ou par courrier directement à l'adresse mentionnée dans les mentions légales afin d'obtenir l'adresse et les modalités de retour. Wall Art Works vous proposera alors soit un remboursement total, frais de livraison inclus, soit une réexpédition du produit attendu. Vous devrez valider votre choix par écrit ou par retour de mail. Si vous optez pour la réexpédition, les délais de livraison recommenceront à partir de zéro. Nous nous engageons également à vous offrir un geste commercial, car notre priorité est votre satisfaction. Dans le cas de l'exercice de votre droit de retour, les frais de retour et de nouvel envoi seront à la charge de Wall Art Works.
  </p>

  <h4>2.9 - Service clientèle et réclamations</h4>

  <p>Pour toute information ou question, vous pouvez contacter notre service clientèle par courrier, par email, ou depuis le formulaire de contact accessible ici.
  Pour toutes question nous nous tenons à votre disposition pour tout compléments d’informations que vous souhaiteriez obtenir sur nos œuvres ou sur une commande passée en cours ou à venir.
  </p>

  <h2>ARTICLE 3. FORCE MAJEURE</h2>

  <p>En application de l'article 1148 du Code Civil, Wall Art Works ne pourra être responsable ou considéré comme ayant commis une faute dans le traitement de votre dossier, si tout retard ou toute inexécution résulte d'un cas de force majeure.
  </p>

  <h2>ARTICLE 4. PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL</h2>

  <p>En application de la loi n°78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, du règlement européen sur la protection 2016/679 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, Wall Art Works informe l'Utilisateur de son engagement à respecter la confidentialité, l'intégrité et la sécurité des données que l'utilisateur sera amené à lui communiquer par le biais du Site.
  Toute donnée à caractère personnel vous identifiant directement (notamment vos nom, prénom, coordonnées postales, électroniques, téléphoniques) ou indirectement (notamment vos traces informatiques laissées par votre navigation sur le Site) sont considérées comme des données confidentielles et sont traitées comme telles, sous réserve de l'évolution du cadre légal sur la qualification de donnée à caractère personnel.
  Nous attirons votre attention sur le fait que Wall Art Works s’engage en ne collécter aucunes données autres que celles strictement nécessaire à la validation d’une commande et à sa livraison. En outre si vous souhaitez stocker certaines œuvres en favoris celle-ci seront relié à votre compte utilisateur qui seul ne permet pas de le relier à une personne physique.
  </p>

  <h4>4.1. Traitement de données relatives aux Services</h4>

  <p>La souscription, l'accès et/ou l'utilisation de certains Services impliquent la réalisation d'un traitement de données à caractère personnel, ce que vous acceptez. Le responsable du traitement des données à caractère personnel des utilisateurs est visé à l'article 1.1. des présentes conditions générales d'utilisation.
  Wall Art Works, responsable de traitement dont le siège est situé au 4 rue Albert Einstein, se tient à votre disposition pour vous transmettre toute les données qu’il aura potentiellement pu récolter vous concernant. Cette demande devra au préalable faire l’objet d’un contrôle d’identité pour nous assurer que le demandeur correspond bien aux données de la personne demandé. Pourra être notamment à cet effet demandé une pièce d’identité en cours de validité ainsi qu’un justificatif de domicile de moins de 3 mois.
  À ce titre, Wall Art Works s'engage à respecter la présente politique de confidentialité que vous acceptez dès lors que vous utilisez ses services.
  Wall Art Works a choisi de ne pas avoir recours à des cookies tiers et n’a comme outil unique que des compteurs de visites lui permettant de suivre le traffic sur son site. Le traffic est anonymisé par ce fait.
  En créant votre compte vous acceptez les CGU du compte Wall Art Works. Vous pouvez si vous le souhaitez vous abonné à une newsletter gratuite directement depuis le pied de page du site web dans l’encart prévu à cet effet. Vous pouvez également sur demande ou en cliquant sur le lien prévu à cet effet dans chaque newsletter que vous recevrez vous désabonné gratuitement. Vous pouvez à tout moment demander la suppression de votre compte en nous écrivant via notre formulaire de contact ou par courrier. Attention, aucunes données notamment les historiques de commandes ne seraient dès lors conservés par Wall Art Works. Ces données seraient alors définitivement détruites.
  En application de la loi Informatique et Libertés du 6 janvier 1978, Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant. Vous pouvez exercer ce droit en nous envoyant un courrier à l'adresse suivante : 4 rue Albert Einstein – 93200 – Saint Denis.
  Vous pouvez également consulter ou modifier vos données personnelles dans votre compte client sur le site www.wall-art-works.com
  En utilisant notre portail ou nos services, l'Utilisateur est amené à communiquer à Wall Art Works des informations ou des données, dont certaines sont de nature à l'identifier directement ou indirectement.
  Les données collectées proviennent de la fourniture volontaire de leurs informations par les utilisateurs désireux d'accéder ou d'utiliser un Service ou réalisé une transaction nécessitant un tel traitement, des traces informatiques laissées par la navigation sur le Site ou de la transmission par l'un des partenaires à l'autre partenaire des données ainsi collectées.
  Ces données pourront être utilisées pour les besoins de la gestion des opérations de transaction initié depuis le Site et des actions commerciales de wall-art-works.com .
  Ces données sont également utilisées :
  </p>
  <li>Pour la création et la gestion des comptes d'utilisateurs ;
  </li>
  <li>Pour le suivi de la relation avec les utilisateurs ;
  </li>
  <li>Pour transmettre les demandes de renseignements émises par l'Utilisateur aux transporteurs ;
  </li>

  <p>Les données à caractère personnel de l'Utilisateur collectées par Wall Art Works peuvent être :
  </p>
  <li>Son adresse de messagerie
  </li>
  <li>Son numéro de téléphone
  <li>Son adresse postale
  </li>
  <li>Son adresse Internet Protocol (IP)
  </li>
  <li>Son identifiant et son mot de passe
  </li>
  <li>Une copie des échanges entre Wall Art Works et l'utilisateur via les formulaires de contact ou echanges mails.
  Outils de suivi et applications
  </li>
  <p>Wall Art Works a recours aux outils suivants :</p>
  <li>Stripe Payments Europe, Ltd. (SPEL) - e-mail : heretohelp@stripe.com -Téléphone (numéro vert) : +33 805 11 19 67 - Vous pouvez écrire à SPEL (hors services juridiques) à l'adresse suivante : 10 Boulevard Haussmann, 75009 Paris, France – pour le paiement et la gestion.
  </li>
  <li>Cloudinary - Adresse : 8-14 Meard St, London W1F 0EQ, Royaume-Uni – e-mail : Pour l’hébergement d’image
  </li>
  <li>Google – Siège social Google France - 8 rue de Londres - 75009 Paris - Téléphone : 01 42 68 53 00 - Dans le cas où l’utilisateur le choisit une connexion via son compte personnel google ainsi que le payement via apple pay sont possible
  </li>
  <li>Apple – Siège social Apple - 7 Place d’Iéna - 75016 Paris France - Téléphone : 01 56 52 96 00 - Dans le cas où l’utilisateur le choisit une connexion via son compte personnel apple ainsi que le payement via apple pay sont possible
  Vous acceptez que celles-ci soient exploitées et/ou communiquées selon les modalités précisées ci-avant.
  Avec votre consentement lorsqu'il est requis, Wall Art Works peut utiliser les données que vous lui fournissez, à savoir votre adresse email, à des fins de prospection commerciale, par exemple pour vous adresser nos newsletters, vous envoyer des invitations à nos événements ou toute autre communication susceptible de vous intéresser.
  En ce qui concerne les emails promotionnels ou d'actualité: vous pouvez à tout moment retirer votre consentement en cliquant sur le lien de désinscription fourni dans chacun de nos envois ou en nous contactant via le formulaire de contact. Nous retirerons dès lors votre email de notre base d’envoi après vérification.
  En application de l'article 6.1 du Règlement Général sur la Protection des Données et des CGU qu'il a accepté, l'utilisateur est informé que les différents traitements de ses données sont nécessaires à l'exécution et à la réalisation obligations contractuelles découlant des services proposés par la société.
  Les données à caractère personnel sont effacées ou archivées à l'issue d'une durée de cinq ans après votre dernière utilisation de notre portail ou de nos services.
  Ces données pourront également être conservées pour une durée de 10 ans par la suite dans la base archive, sous accès restreint, afin de respecter les obligations légales et réglementaires à la charge de Wall Art Works, notamment comptable.
  Wall Art Works est également susceptible de partager des informations vous concernant, notamment des données à caractère personnel, avec les transporteurs partenaires de Wall Art Works ou de son sous-traitant imprimeur dans le cadre prévu par la présente politique.
  Wall Art Works ne partage vos données avec les tiers mentionnés au présent article que dans les cas suivants :
  <li>Lorsque nous faisons appel à un prestataire de services dans le cadre de l'exécution de tout contrat conclu entre vous et nous ou afin de fournir ou améliorer nos services ;
  </li>
  <li>Lorsque Wall Art Works a l'obligation légale de le faire ou si Wall Art Works pense de bonne foi que cela est nécessaire pour répondre à toute réclamation à son encontre, se conformer à toute demande judiciaire, ou afin de garantir les droits, les biens et la sécurité de Wall Art Works, ses membres et plus généralement tout tiers.
  Dans le cadre d’un rachat partiel ou d’une cession de nos activités, nous nous réservons la possibilité de partager avec le potentiel futur acquéreur les informations que nous avons en base de données.
  Wall Art Works n’agrège aucune données vous concernant. Les seuls données collécté sont celles précité qui sont nécessaire notamment pour vous envoyer vos produits commandés depuis notre site et pour assurer une tracabilité de vos paiement. En outre si vous choisissez de vous connecter via les facilitateurs de connexions google ou apple sur la page de connexion, nous ne pourrions être tenu responsable de leurs conditions generales et leur politique de traitement des données à caracatères personnel. Il vous appartient de vous renseigner auprès de ces deux prestataires de ce qu’il en est.
  </li>
  <h4>4.2 Transfert de données</h4>
  <p>Autant que possible Wall Art Works privilégiera une solution national pour héberger vos données.
  Néanmoins, dans la mesure où, par exemple, certains de nos prestataires de service sont situés dans des pays en dehors de l'Union Européenne (« Stripe »), Wall Art Works transfère certaines des données à caractère personnel dans des Pays Tiers. Cela peut notamment être le cas vers des Pays Tiers pour lesquels la Commission européenne n'a pas pris une décision de « protection adéquate ». Dans un tel cas, Wall Art Works s'assure que ce transfert soit effectué en conformité avec la réglementation applicable et garantisse un niveau de protection suffisant pour la vie privée et les droits fondamentaux des personnes concernées (notamment par les clauses contractuelles types de la Commission Européenne).
  </p>
  <p>Vous bénéficiez :
  </p>

  <li>D'un droit d'accès : droit de recevoir une copie de vos données à caractère personnel en notre possession, par mail uniquement;
  </li>
  <li>D'un droit à l'effacement ou droit à l'oubli : droit à l'effacement de vos données à caractère personnel en possession de Wall Art Works (sauf lorsque la loi lui impose de conserver ces données ou lorsque Wall Art Works a un motif légitime de le faire, notamment comptable)
  </li>
  <li>D'un droit à la rectification : droit de modifier les données à caractère personnel en la possession de Wall Art Works qui vous concernent qui sont erronées ou obsolètes
  </li>
  <li>D'un droit d'opposition : vous pouvez opposer à tout moment pour des raisons tenant à votre situation particulière, au traitement de vos données à caractère personnel à des fins de marketing direct sauf motifs légitimes et impérieux pour le traitement qui prévalent sur les intérêts et les droits et libertés de la personne concernée, ou pour la constatation, l'exercice ou la défense de droits en justice ;
  </li>
  <li>D'un droit à la limitation : vous avez le droit de limiter les traitements effectués sur vos données à caractère personnel dans les cas suivants :
  </li>
  <p>Si vous exercez votre droit de rectification, la limitation de traitement peut être exigé pendant la durée permettant à Wall Art Works d'en vérifier l'exactitude ;
  si vous exercez votre droit d'opposition, pendant la durée de vérification portant sur le point de savoir si les motifs légitimes que Wall Art Works poursuit prévalent les vôtres ;
  lors d'un traitement illicite de vos données à caractère personnel, vous pouvez exiger une limitation de leur utilisation plutôt qu'un effacement ;
  pour des données à caractère personnel aux fins du traitement devant être effacées, mais qui sont encore nécessaires pour la constatation, l'exercice ou la défense de droits en justice.
  </p>
  <li>D'un droit à la portabilité : vous avez le droit de recevoir les données à caractère personnel que vous avez fournies à Wall Art Works ou qui ont été générées par votre activité ou qui ont été observées. Celles-ci doivent être communiquées dans un format structuré, couramment utilisé et lisible par la machine. Ce droit comprend également le droit de transmettre ces données à un autre responsable du traitement.
  </li>
  <p>Enfin, vous disposez du droit de définir des directives relatives au sort de vos données à caractère personnel après votre mort.
  L'utilisateur peut exercer ces droits en contactant Wall Art Works à cette adresse : XXXXX@XXXXXXX en joignant un justificatif d'identité et en mentionnant ses prénoms, nom et adresse de courrier électronique ainsi qu’un justificatif de domicile datant de moins de 3 mois.
  En cas de différent entre Wall Art Works et l'Utilisateur concernant le traitement des données, l'utilisateur pourra adresser sa réclamation à Wall Art Works par accusé de réception.
  Si aucune solution satisfaisante pour l'utilisateur n'est trouvée par la société ou si le différent persiste, l'utilisateur aura la possibilité d'introduire une réclamation auprès de la Commission Nationale de l'Informatique et des Libertés ou de l'autorité de contrôle de l'Etat Membre de l'Union Européenne au sein duquel l'utilisateur réside habituellement.
  Pour toute question relative à la présente politique de confidentialité ou pour toute demande relative à vos données à caractère personnel, vous pouvez nous contacter en nous adressant un courrier à l'adresse suivante : Wall Art Works, 4 rue Albert Einstein, 93200 – Saint Denis.
  Wall Art Works ne procède pas à l'enregistrement automatique de certaines données techniques. La mise en cache de votre navigateur web peut cependant vous permettre de continuer à être connecté alors que vous avez fermé le site web. Cette mise en cache est local est ne transmet aucunes informations à Wall Art Works.
  Lors de la consultation du Site, les données techniques susceptibles d'être enregistrées, au titre de l'accès ou de l'utilisation du Site sont l'adresse Internet Protocol (IP) de l'utilisateur et les informations relatives à la navigation (date, heure, pages consultées, survenance d'erreurs, etc.). Ces données communément baptisé logs sont noyés dans une masse d’informations très large ne permettant pas forcément de remonté la trace de l’utilisateur initial si l’adresse IP n’est pas directement traçable.
  Sur chaque page un compteur de visite anonymisé à été mis en page afin que Wall Art Works puissent connaître l’état de trafic de son site et les pages les plus fréquemment consultés afin potentiellement de faire des mises en avant de certains produits. Nous n’utilisons pas de service de traitement des données ni de service tiers de collecte de cookies pour analyser des paramètres divers comme cela est communément fait, admis, et encadré légalement sur le web.
  Vous pouvez vous connecter sans avoir à créé de compte sur le site wall-art-works.com par le biais d’un compte apple ou google. Nous attirons votre attention sur l'identification que permet un tel bouton. En effet, le réseau social ou moteur de recherche qui fournit ce type de boutons applicatifs est susceptible de vous identifier grâce à ce bouton, même si vous n'avez pas cliqué dessus lors de votre consultation du Site. En effet, certains cookies permettent au réseau social concerné de suivre votre navigation sur le Site, dès lors que votre compte à ce réseau social est activé sur votre terminal durant votre navigation sur le Site.
  wall-art-works.com n'a aucun contrôle sur le processus employé par ces deux entreprise pour collecter des informations relatives à votre navigation sur le Site. En cas de suspicion de votre part nous vous invitons à ne pas utiliser ces boutons, et à créer un compte sur wall-art-works.com ou encore à circuler dans le site sans créer de compte. Toute circulation sur le site entraîne l’approbation des présentes CGU que l’utilisateur soit connecté ou non.
  Nous vous conseillons donc de vous déconnecter de ces réseaux sociaux avant de naviguer sur le Site ou ses Applications
  Wall-art-works.com vous invite également à consulter les politiques de protection des données à caractère personnel de ces réseaux sociaux. Celles-ci doivent vous permettre d'exercer certains choix de confidentialité auprès de ces réseaux sociaux, notamment en paramétrant vos comptes d'utilisation.
  wall-art-works.com ne gère pas les cookies de ses partenaires et n'a aucun contrôle sur ces cookies.
  Attention : wall-art-works.com peut vous proposer sur le Site des publicités ou des liens renvoyant vers des sites tiers qui pourraient collecter vos données à caractère personnel lorsque vous cliquez sur les liens concernés. Les présentes Conditions ne concernent pas la visite des sites internet de tiers, wall-art-works.com ne peut être tenu responsable de leur politique en matière de données à caractère personnel ainsi que de l'utilisation de celles-ci.
  Sans préjudice de ce qui précède, wall-art-works.com et/ou ses partenaires peuvent être toutefois amenés à utiliser ces informations en coopération avec le fournisseur d'accès à Internet de l'utilisateur pour identifier l'utilisateur aux fins de faire exécuter tout ou partie des présentes conditions générales ou conditions contractuelles complémentaires ou sur demande des autorités administratives ou judiciaires compétentes.
  Nous vous informons que vous pouvez à tout moment paramétrer votre navigateur afin de modifier vos choix en matière de cookies. Le paramétrage du navigateur internet est un moyen efficace et gratuit permettant de déterminer, en amont, la gestion des cookies. Vous pouvez ainsi décider :
  </p>
  <li>D'accepter l'enregistrement de tous les cookies intégrés dans les pages et contenus que vous consultez. Notez que d'une part, ces cookies ne seront lisibles que par leurs émetteurs. D'autre part, ce procédé n'est pas définitif, et il vous sera toujours possible, a posteriori, de supprimer ces cookies ; - de refuser l'enregistrement des cookies sur votre terminal. Dans ce cas, vous ne pourrez plus bénéficier du même confort de navigation, certaines fonctionnalités nécessitant l'utilisation de cookies. Par conséquent, wall-art-works.com décline toute responsabilité pour les éventuels désagréments liés aux possibles dysfonctionnements de nos services résultant de l'impossibilité de consulter les cookies nécessaires ; - d'être invité par votre navigateur à donner votre accord ou votre refus avant l'installation d'un nouveau cookie sur votre terminal.
  </li>
  <p>Le délai de validité du consentement au dépôt des cookies est de 13 mois. A l'expiration de ce délai, le consentement de l'utilisateur est à nouveau recueilli.
  Le paramétrage en matière de gestion des cookies dépend de votre navigateur (http://www.youronlinechoices.com/fr/controler-ses-cookies/ and http://www.allaboutcookies.org/fr/).
  A titre indicatif, vous vous opposez à l'enregistrement de cookies en configurant votre navigateur de la manière suivante :
  Pour Internet Explorer:
  Allez dans Outils > Options Internet.
  Cliquez sur l'onglet confidentialité.
  Cliquez sur le bouton avancé, cochez la case "Ignorer la gestion automatique des cookies".
  En savoir plus : http://windows.microsoft.com/fr-FR/windows7/Block-enable-or-allow-cookies
  </p>

  <p><b>Pour Firefox:</b>
  En haut de la fenêtre de Firefox, cliquez sur le bouton Firefox (menu Outils sous Windows XP), puis sélectionnez Options.
  Sélectionnez le panneau Vie privée.
  Paramétrez Règles de conservation : à utiliser les paramètres personnalisés pour l'historique.
  Décochez Accepter les cookies.
  En savoir plus : http://support.mozilla.org/fr/kb/activer-desactiver-cookies?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies
  </p>

  <p><b>Pour Chrome:</b>
  Cliquez sur l'icône représentant une clé à molette qui est située dans la barre d'outils du navigateur.
  Sélectionnez Paramètres.
  Cliquez sur Afficher les paramètres avancés.
  Dans la section "Confidentialité", cliquez sur le bouton Paramètres de contenu.
  Dans la section "cookies", vous pouvez bloquer les cookies et données de sites tiers
  En savoir plus : http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647
  </p>

  <p><b>Pour Safari:</b>
  Allez dans Réglages > Préférences
  Cliquez sur l'onglet Confidentialité
  Dans la zone "Bloquer les cookies", cochez la case "toujours"
  En savoir plus : http://support.apple.com/kb/HT1677?viewlocale=fr_FR
  </p>

  <p><b>Pour Opéra:</b>
  Allez dans Réglages > Préférences
  Cliquez sur l'onglet avancées
  Dans la zone "cookies", cochez la case "Ne jamais accepter les cookies"
  En savoir plus : http://help.opera.com/Windows/10.20/fr/cookies.html
  </p>

  <h2>ARTICLE 5. RESPONSABILITE ET GARANTIES</h2>
  La société Wall Art Works s'efforce d'assurer au mieux de ses possibilités, l'exactitude et la mise à jour des informations diffusées sur ce site, dont elle se réserve le droit de corriger, à tout moment et sans préavis, le contenu.
  Ce site peut contenir des liens vers d'autres sites. La société Wall Art Works ne peut être tenue pour responsable des problèmes d'accès ou de contenu de ces sites.
  Wall Art Works ne sera pas responsable des dommages découlant de l'utilisation ou de l'impossibilité d'utiliser le Site.
  Wall Art Works ne sera en aucun cas responsable de dysfonctionnements imputables à des logiciels, que ceux-ci soient ou non incorporés dans le Site ou fournis avec celui-ci.
  Wall Art Works s'engage à respecter toutes les garanties légales dont vous pourriez vous prévaloir. En cas de défauts de la marchandise, vous bénéficiez des garanties légales prévues par la législation en vigueur. Les oeuvres présentées sur notre site étant conformes aux prescriptions de la loi française, nous ne pourrons être tenus responsables de la violation de la législation propre au pays de livraison de l'oeuvre. Par conséquent, nous vous invitons à prendre connaissance de la loi en vigueur dans le pays de livraison.
  Vous bénéficiez des garanties énumérées au présent article 5 uniquement dans la mesure où les produits ont été achetés directement sur le Site Web.
  Vous bénéficiez des garanties légales suivantes :
  <ol>
    <li>La garantie légale de conformité (articles L. 217-4 et suivants du Code de la consommation),
  Si vos produits sont non conformes (par exemple s'ils ne correspondent pas à la description donnée sur le site ou à votre commande), vous bénéficiez d'un délai de deux ans à compter de la délivrance du bien pour contacter notre Service Clientèle par courriel à l'adresse suivante XXXXXXX@XXXXXXX, ou par courrier postal à l'adresse suivante : Wall Art Works - 4 rue Albert Einstein – 93200 – Saint denis, et nous retourner les produits non conformes. Nous vous renverrons alors des produits de remplacement correspondant à la commande initiale, lorsque ceux-ci sont encore fabricable. Si nous ne sommes pas en mesure de remplacer les produits non conformes dans un délai de trente (30) jours, vous pouvez :
      <ul>
        <li>Demander un remboursement intégral des produits non conformes ou
        </li>
        <li>Conserver les produits non conformes et nous demander une réduction d'une partie du prix, qui sera déterminé au cas par cas.
        </li>
      </ul>
  Vous êtes dispensés de rapporter la preuve de l'existence du défaut de conformité du produit durant les 24 mois suivant la délivrance du bien.
  Cette garantie légale de conformité s'applique indépendamment de toute garantie commerciale éventuellement souscrite.
    </li>

    <li>La garantie légale contre les vices cachés (articles 1641 et suivants du Code civil). Si vous parvenez à prouver le vice caché d'un produit, nous sommes légalement tenus de réparer toutes les conséquences d'un tel vice caché (articles 1641 et suivants du Code civil). Vous pourrez alors choisir entre la résolution de la vente ou une réduction du prix (conformément à l'article 1644 du code civil).
    </li>
  </ol>
  <h2>ARTICLE 6. PROPRIETE INTELLECTUELLE</h2>
  <h4>6.1 - Droits sur l'oeuvre</h4>
  <p>L'artiste partenaire de Wall Art Works ou à defaut Wall Art Works lui même, pour avoir pris l'initiative de sa création, reste titulaire des droits d'auteur sur sa création, au sens de la loi française. Les droits de représentation et de reproduction des oeuvres présentes sur le site wall-art-works.com appartiennent à leurs auteurs et à Wall Art Works. Leur autorisation conjointe est nécessaire pour toute exploitation de ces droits. Vos droits sur l'oeuvre achetée sont donc limités à un droit d'usage privé, excluant tout droit de représentation et de reproduction.
  </p>
  <h4>6.2 - Droit de propriété intellectuelle</h4>
  <p>Tous les éléments présents sur le site et le site en lui-même sont protégés par le droit d'auteur, droit des marques, des dessins et modèles et/ou tout autre droit de la propriété intellectuelle. Par éléments, nous entendons de façon non exhaustive : les photographies, images, dessins, illustrations, textes, vidéos, logos, économiseurs d'écran, fonds d'écran, marques, modèles, logiciels...Ces éléments appartiennent à la société Wall Art Works ou bien sont utilisés avec l'accord de leurs propriétaires. A ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielles ou intégrales par quelque procédé et sur quelque support que ce soit (papier, numérique...) sont interdites, sans l'autorisation écrite préalable de Yellow Korner, hormis les exceptions visées à l'article L 122.5 du Code de Propriété Intellectuelle, sous peine de constituer un délit de contrefaçon de droit d'auteur et/ou de dessins et modèles et/ou de marque, puni de deux ans d'emprisonnement et de 152 449,02€ d'amende.
  </p>
  <h2>ARTICLE 7. DROIT APPLICABLE</h2>
  <p>Les présentes conditions sont régies par la loi française. Elles sont disponibles en Français. Dans l'hypothèse où un litige naîtrait de la présente relation contractuelle, l'Utilisateur et Wall Art Works s'engagent avant toute action judiciaire à rechercher une solution amiable. En cas de litige, seuls les tribunaux français seront compétents.
  Conformément aux dispositions du Code de la consommation concernant le règlement amiable des litiges, Wall Art Works adhère au Service du Médiateur du e-commerce de la Fevad (Fédération du e-commerce et de la vente à distance) dont les coordonnées sont les suivantes : 60 Rue La Boétie – 75008 Paris – http://www.mediateurfevad.fr.. Après démarche préalable écrite des consommateurs vis-à-vis de Wall Art Works, le Service du Médiateur peut être saisi pour tout litige de consommation dont le règlement n'aurait pas abouti. Pour connaître les modalités de saisine du Médiateur, cliquer http://www.mediateurfevad.fr/index.php/espace-consommateur.
  </p>
<div>
