<h1 style="padding-top:12vh;text-align:center">Conditions générales de ventes</h1>


<a href="https://www.legalplace.fr/contrats/conditions-generales-de-vente/creer/3">LIEN VERS UN CREATEUR DE CGV</a>


CONDITIONS GÉNÉRALES DE VENTE ET DE GARANTIE
1 - COMMANDE ET RÈGLEMENT
Lors de la commande sur le site But.fr, votre commande sera rattachée automatiquement à un magasin But qui supportera la totale responsabilité de l’exécution de la commande. Les prix indiqués au niveau des produits sur le site But.fr sont TTC mais n’incluent pas les frais de livraison. Les frais de livraison sont calculés à la page "Choix du mode de livraison" et sont à la charge du client. Toute commande validée sur le site par le client sera effective uniquement après acceptation totale du paiement.

Le paiement s’effectue en ligne au moyen du système sécurisé fourni par la société PAYLINE par carte bancaire, Visa, Mastercard, Carte But ou Aurore. La totalité du montant de la commande devra être versée à la commande. Le débit sur le compte bancaire du client s’effectuera le jour de la commande. Selon le magasin de rattachement, il est également possible de régler sa commande avec PAYPAL : le débit sera alors effectué le jour même de la commande. Le paiement à crédit par ouverture de carte BUT ou Carte Aurore est également disponible en page de paiement, les conditions générales d’utilisation étant disponibles sur cette page : https://www.but.fr/Carte_but

Afin de sécuriser l’utilisation des moyens de paiement de ses clients, le vendeur peut être amené à demander tous justificatifs (relatifs à l’identité et/ou au domicile et/ou au moyen de paiement utilisé) prouvant votre identité. Le défaut ou le refus de transmettre les justificatifs demandés peut conduire But à refuser la commande concernée. Le délai de transmission à But International des pièces sollicitées peut décaler d’autant l’expédition, la livraison ou la mise à disposition en magasin des produits commandés.

De principe, nos ventes sont payables comptant et sans escompte. En outre, nous nous réservons le droit de facturer les frais bancaires ou d’agios que nous aurions à supporter du fait d’un report d’échéance.

Le client reconnait avoir, préalablement à la commande, eu connaissance de l’ensemble des informations visées à l’article L111-1 du code de la consommation et, en cas de souscription à des services, à l’article L111-2.

2 - DÉLAI DE LIVRAISON
Sur la page "Choix du mode de livraison" ainsi qu’à la validation de la commande en ligne, conformément aux dispositions de l’article L216-1 du code de la consommation, il sera indiqué la date limite à laquelle le magasin s’engage à livrer chaque produit de votre commande ou à exécuter la prestation promise.

L’acheteur est pareillement tenu par la date de livraison. BUT se réserve le droit, en cas de défaillance du client à venir retirer sa marchandise dans un délai de 15 jours suivant la deuxième mise en demeure adressée à cette fin au dit client, par Lettre Recommandée avec Avis de Réception, de disposer librement de la marchandise et de conserver les sommes versées par le Client à la commande à titre d’indemnisation forfaitaire. Il est en effet d’ores et déjà convenu que toute marchandise non retirée malgré ces deux mises en demeure sera considérée comme abandonnée par le Client, ce dernier ayant ainsi renoncé à tout droit sur celle-ci.

Le professionnel est responsable de plein droit à l’égard du consommateur de la bonne exécution des obligations résultant du contrat conclu à distance, que ces obligations soient à exécuter par le professionnel qui a conclu ce contrat ou par d’autres prestataires de services, sans préjudice de son droit de recours contre ceux-ci. Toutefois, il peut s’exonérer de tout ou partie de sa responsabilité en apportant la preuve que l’inexécution ou la mauvaise exécution du contrat est imputable, soit au consommateur, soit au fait, imprévisible et insurmontable, d’un tiers au contrat, soit à un cas de force majeure.

3 - LIVRAISON À DOMICILE
De convention expresse, le transfert de propriété de nos marchandises devient effectif dès leur sortie de nos magasins ou ateliers, c’est-à-dire à l’enlèvement soit par l’acheteur soit par tout transporteur ou mandataire quelconque qu’il aurait désigné à cette fin. L’acheteur en supporte en conséquence tous les risques. En cas de livraison par nos soins, ou par un mandataire, et en l’absence d’instructions de la part du client touchant l’expédition, nous nous réservons le droit de faire acheminer au mieux la marchandise. Il incombe au client de faire le cas échéant, les réserves adaptées au moment de la remise de la marchandise en cas de retrait en magasin par le client ou un tiers désigné par lui, ou à la réception en cas de livraison. La livraison n’implique pas, sauf stipulation contraire, la mise en service et/ou le montage des meubles. Le montage, s’il est prévu, correspond à l’assemblage des meubles et ne comprend pas, sauf dans le cas de cuisines pour lesquelles une prestation de cuisiniste aurait été souscrite, la fixation aux murs. La fixation aux murs n’est pas non plus comprise pour les écrans plats. Aucune réclamation relative à la livraison ne peut être acceptée si elle n’a pas été notée lors de celle-ci sur l’exemplaire du bon de livraison destiné au magasin. Nous ne pouvons en aucun cas, être rendus responsables, dans l’hypothèse où les marchandises commandées ne pourraient être acheminées à l’intérieur du domicile de l’acheteur, en raison de l’exiguïté des locaux ou des moyens d’accès à ceux-ci, sauf si la difficulté nous a été expressément signalée et notée au moment de la commande (mention spécifique devant être contresignée par le magasin sur le bon de commande).

Certaines zones de livraison ayant des spécificités géographiques (île, zone montagneuse...) pourront faire l’objet d’une facturation complémentaire après contact et validation par le client. Il est également du ressort du client d’indiquer lors de son contact avec le magasin, les particularités d’accès (code, interphone, ..). Lors de la livraison de la marchandise à votre domicile, il pourra être demandé au client une pièce d’identité. Les livraisons ne peuvent s’effectuer qu’en France Métropolitaine. Les frais de livraison sont calculés en page Mode de Livraison et sont à la charge du client.

4 - MISE À DISPOSITION
Si le vendeur s’est engagé à mettre l’appareil en service, au sens de l’article L.217-18 du code de la consommation, il le fera dans un délai de 10 jours à compter du transfert de propriété à condition que les installations (eau, électricité et gaz) soient conformes aux normes en vigueur. La mise en service ne pourra être réalisée que si les travaux de branchement ont été effectués préalablement ; elle comprend : la vérification du bon fonctionnement, l’explication de l’utilisation, la remise de la notice d’emploi et d’entretien en Français ainsi que du certificat de garantie du constructeur s’il existe. L’acheteur qui préfère mettre lui-même l’appareil en service le fait sous sa propre responsabilité. En cas de défauts apparents ou d’absence de notice d’emploi et d’entretien, l’acheteur doit les faire constater par écrit par le vendeur ou le livreur lors de ’enlèvement, de la livraison ou de la mise en service.

Lors de l’enlèvement de la marchandise en magasin, le client devra fournir copie de sa commande ainsi qu’une pièce d’identité.

5 - RÉCLAMATION
L’acheteur est tenu de vérifier la marchandise, au moment de la livraison ou de l’enlèvement, et doit mentionner sur le bon de livraison, conformément à l’article L.217-19 du code de la consommation, les réserves qu’il entend faire au sujet de l’état des biens reçus (conformité des meubles livrés avec ceux qui ont été commandés, défaut de fabrication, avarie de transport, etc.). Sauf en cas de vice caché, aucune réclamation ne sera admise, après réception des meubles par l’acheteur, si celui-ci n’en a pas fait mention sur le bon de livraison.

Toute réclamation doit s’exercer par email et/ou par lettre adressée au magasin émetteur de votre facture (adresse et coordonnées en haut à gauche sur votre facture).

6 - RÉTRACTATION
Le client dispose conformément à l’article L 221-18 du code de la consommation, d’un droit de rétractation (à l’exception des cas prévus à l’article L 221-28 dudit code) pouvant être exercé dans un délai de 14 (quatorze) jours francs à partir du lendemain de la date de livraison ou de retrait en magasin de sa commande. En cas d’une commande de plusieurs produits, le délai de rétractation de quatorze jours court à partir du lendemain de la date de réception du dernier produit. La faculté de rétractation du client peut s’exercer via le formulaire présent sur la page CONTACT en choisissant comme catégorie de demande « Retour & remboursement » puis « Annuler ma commande » ou par courrier au magasin de rattachement. Cette demande devra être adressée au magasin émetteur de sa facture (adresse et coordonnées en haut à gauche sur votre facture) en stipulant dans le formulaire le magasin ayant géré sa commande (magasin de rattachement).

VOICI UN MODÈLE DE FORMULAIRE DE RÉTRACTATION :
(Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)

A l'attention de [le professionnel insère ici son nom, son adresse géographique et, lorsqu'ils sont disponibles, son numéro de télécopieur et son adresse électronique] :

A l’attention de [à compléter par le nom de votre magasin de rattachement (adresse et coordonnées en haut à gauche de votre facture)]

Je/nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente du bien (*)/pour la prestation de services (*) ci-dessous :

Commandé le (*)/reçu le (*) :

Nom du (des) consommateur(s) :

Adresse du (des) consommateur(s) :

Signature du (des) consommateur(s) (uniquement en cas de notification du présent formulaire sur papier) :

Date :

(*) Rayez la mention inutile."
Les frais de retour sont à la charge du client.

La marchandise concernée par l’exercice dudit droit de rétractation ne peut être renvoyée qu’au magasin à l’origine de la livraison de sa commande. Pour les articles reçus directement par colis (par exemple colissimo ou Chronopost), le client aura la possibilité soit de renvoyer le produit par colis au magasin gérant sa commande, soit de déposer le produit directement en magasin. Les produits renvoyés en port dû ou en contre remboursement seront systématiquement refusés, les frais liés au retour restant à la charge du client. Pour retourner les produits de plus de 30kg, le client pourra utiliser ses propres moyens ou faire appel au service d’un transporteur dont voici quelques exemples de tarification : - Exemple pour un Canapé 215x95x79cm de 50kg : à partir de 450 € par transporteur - Exemple pour un Lave-linge 60x85x54cm de 70 kg : à partir de 175€ par transporteur. Les tarifications ci-dessus sont données à titre d’exemple, n’ont aucun caractère contractuel, et peuvent varier en fonction de l’urgence de la livraison, de la nature du produit, et de la distance à parcourir. Les coûts; de retour sont à la charge et sous la responsabilité du client qui peut consulter par lui-même les tarifs de livraison adaptés à son expédition sur un site externe et indépendant de BUT, tel que https://www.boxtal.com/fr/fr/accueil.

Les produits devront être retournés dans leur emballage d’origine, accompagnés de tous les accessoires et documentations. Le remboursement, si la marchandise retournée est bien éligible à l’exercice du droit de rétractation, s’effectuera dans un délai maximum de 14 jours après le retour. Les frais de livraison facturés à l’occasion de la vente seront également remboursés, Cependant le professionnel n’est pas tenu de rembourser les frais supplémentaires si le consommateur a expressément choisi un mode de livraison plus coûteux que le mode de livraison standard proposé par le professionnel.

Conformément à l’article L 221-28 du code de la consommation sont exclus notamment les produits ayant fait l’objet d’une commande spéciale ou personnalisée, les produits d’hygiène, les supports d’enregistrement audio et vidéo descellés et les produits liés à un abonnement.

7 - GARANTIES ET SERVICE APRÈS-VENTE
Les conditions générales de garanties sont accessibles ci-dessous. Pour contacter les services après-vente BUT, le client peut contacter le numéro cristal 09 78 97 97 97 (prix d’une communication locale).

8 - MÉDIATION
Conformément à l’article R 612-1 du code de la consommation, le client peut gratuitement recourir au service de médiation Association des Médiateurs Européens (AME CONSO), par voie électronique : www.mediationconso-ame.com, ou par voie postale AME CONSO, 11 Place Dauphine – 75001 PARIS. pour toutes les réclamations déjà déposées par écrit auprès du service clientèle du vendeur depuis moins d’un an et non satisfaites.

9 - OPPOSITION AU DÉMARCHAGE TÉLÉPHONIQUE
Il est rappelé que, en application des articles L 223-1 à L 223-4 du code de la consommation, le client qui communique au vendeur ses coordonnées téléphoniques, a la possibilité de s’opposer au démarchage téléphonique par le vendeur ou tout tiers auquel ce dernier les communiquerait, en s’inscrivant sur la liste Bloctel. Il est précisé que cette inscription n’interdit pas au vendeur de contacter téléphoniquement le client pour les stricts besoins de l’exécution du contrat à l’occasion de la souscription duquel les dites coordonnées lui ont été communiquées.

Le client accepte en outre, en cas de devis, explicitement d’être rappelé et/ou contacté par le vendeur au numéro téléphonique précisé sur le devis dans le délai maximum de 3 mois suivant la remise du devis, même si son numéro de téléphone a fait l’objet d’un enregistrement auprès de BLOCTEL. Le vendeur s’engage alors à utiliser ce numéro de téléphone uniquement pour le suivi des documents remis au client lors de son passage au magasin (devis, proposition tarifaire) et dans le délai maximum de 3 mois.

En tout état de cause, toute vente par BUT, quelle que soit la nature du produit, reste couverte par la garantie légale de conformité du bien au contrat (articles L.217-1 à L.217-14 du Code de la Consommation) et celle des vices cachés (articles 1641 à 1649 du Code Civil).

10 - ADHÉSION ÉCO-MOBILIER
BUT INTERNATIONAL agissant pour elle-même et les Magasins BUT, est enregistrée au Registre national des metteurs sur le marché d’éléments d’Ameublement (les numéros sont consultables sur but.fr). Ces numéros garantissent que BUT INTERNATIONAL et les Magasins BUT en adhérant à Eco-mobilier, sont en conformité avec les obligations réglementaires qui leur incombent.

11 - DONNÉES PERSONNELLES
Les données à caractère personnel du client sont utilisées par BUT INTERNATIONAL afin de traiter sa commande, la relation client, la notification client, et le service après-vente sur la base du contrat. Ses données sont également utilisées à des fins statistiques et d’amélioration de la connaissance client sur la base de l’intérêt légitime. Il dispose de la possibilité de modifier à tout moment son choix en magasin, sur son compte Internet ou en contactant BUT INTERNATIONAL à l’adresse indiquée ci-dessous.

BUT INTERNATIONAL peut collecter des données à caractère personnel par le biais de cookies ou autres traceurs. Le client peut modifier son consentement à tout moment dans la rubrique protection des données personnelles sur le site Internet.

Ces données sont communiquées au personnel habilité de BUT INTERNATIONAL, aux partenaires, ainsi qu’aux prestataires intervenant dans le traitement des différentes finalités. Elles sont conservées pour la durée nécessaire à l’exécution des finalités pour lesquelles elles ont été collectées.

Le client dispose d’un droit d’accès, de modification, de suppression et de portabilité de ses données. Il peut fournir des directives applicables après son décès et peut également demander la limitation ou s’opposer au traitement de ses données en s’adressant par courrier postal à l’adresse suivante : BUT INTERNATIONAL – DPO – 1, avenue Spinoza 77184 Emerainville ou par email : informatique.libertes@but.fr. Le client peut adresser une réclamation à la CNIL s’il estime, après avoir contacté BUT INTERNATIONAL, que ses droits ne sont pas respectés. Pour plus d’informations sur la gestion de ses données et ses droits, le client peut consulter la politique protection des données personnelles sur le site but.fr.

Conditions générales de garantie
En tout état de cause, toute vente par BUT, quelle que soit la nature du produit, reste couverte par la garantie légale de conformité du bien au contrat (articles L.217-1 à L.217-17 du Code de la Consommation) et celle des vices cachés (articles 1641 à 1649 du Code Civil). Il est rappelé que les dispositions de l‘article L-217-28 du code de la consommation s’appliquent en cas d’immobilisation du produit au titre de la mise en œuvre des garanties légales ou commerciales.

1 - ÉTENDUE TERRITORIALE
La garantie BUT s’applique en France Métropolitaine et en Corse, à l’exclusion des DOM-TOM. Les coordonnées du magasin garant figurent sur la facture d’achat du Consommateur. Toutefois, cette Garantie peut, au choix du client être exercée par le biais de tout autre magasin franchisé BUT implanté sur la zone géographique ci-dessus mentionnée. Lorsque l’intervention a lieu dans des conditions inhabituelles (accès par bateau en côtières, par télécabines en montagne ...), l’intervention peut faire l’objet d’une facturation spéciale.

2 - VALIDITÉ DE LA GARANTIE BUT
Le bénéfice de la Garantie BUT ne sera accordé que sur la présentation de la facture d’achat du produit. La Garantie ne sera acquise qu’au premier acheteur de l’appareil et ne s’applique qu’aux appareils neufs. Toutefois, en cas de décès du client, le certificat de garantie bénéficiera au conjoint ou aux enfants habitant sous le même toit.

3 - RÉPARATIONS
Pour toute réparation pendant la durée de la garantie, l’acheteur doit s’adresser à un magasin BUT ou à son Service Après-Vente. La Garantie ne produira plus ses effets dans le cas où une intervention et/ou réparation aura été effectuée sur l’appareil par des personnes autres que celles agrées par le magasin. A l’occasion d’une éventuelle réparation, tout appareil portable doit être porté au magasin ou à l’atelier ou au Service Après-Vente par le client. Pour les appareils non portables, le déplacement est gratuit dans un rayon de 30 km autour du magasin. En matière d’ameublement, le déplacement à domicile prévu dans le cadre de la garantie, est uniquement celui qui est nécessaire afin de poser la pièce de rechange. La durée de disponibilité des pièces détachées est, conformément aux dispositions de l’article L 111-4 du code de la consommation, indiquée sur le bon de commande.

4 - LES EXCLUSIONS DE LA GARANTIE BUT
Sont exclus de la Garantie BUT les dommages occasionnés directement ou indirectement par :

• Guerre étrangère, guerre civile, acte de terrorisme ou de sabotage commis dans le cadre d’actions concertées de terrorisme ou de sabotage, grève, émeute ou mouvement populaire.

• Les éruptions de volcans, tremblements de terre, inondations, raz-de-marée ou cataclysmes.

• Les effets directs ou indirects : d’explosion, de dégagement de chaleur, d’irradiation provenant de transmutations de noyaux d’atomes ou de la radioactivité, de radiations provoquées par l’accélération artificielle de particules, l’exposition à des champs magnétiques. La garantie restera acquise au souscripteur, s’il peut prouver que le dommage n’a pas de rapport direct ou indirect avec ces événements.

• Et aussi, les dommages ayant pour origine une cause externe au produit, tels que, et sans que cette liste, qui n’est qu’une illustration, soit exhaustive : choc, chute, mauvaise utilisation, erreur de manipulation, brûlures, la décoloration à la lumière, l’humidité, la chaleur excessive, les coupures, les éraflures, toute imprégnation par un liquide.

• Les dommages consécutifs à un non-respect des instructions d’entretien, à une installation ou un montage non conforme aux recommandations du fabricant (sauf si celle-ci a été faite par BUT ou un prestataire agréé par l’Enseigne).

• La détérioration des mobiliers de cuisine et de leur contenu, ou de tout autre produit d’ameublement, consécutive à la rupture du support mural de l’immeuble (sauf si celle-ci a été faîte par BUT ou un prestataire agréé par l’Enseigne).

• L’usage professionnel (collectivités ...) et d’une façon générale toute activité de nature non domestique.

• Pour les produits d’ameublement, les défauts d’aspect liés à une différence de teinte, et/ou à la structure du bois, les différences de teinte liées à un réassortiment, les variations de teinte dues à l’influence de la lumière dans le temps.

• Les dommages n’affectant pas le bon fonctionnement de l’appareil, en particuliers dommages d’ordre esthétique : rayures, éraflures, trace de choc sur l’ébénisterie ou l’émail, accident du fumeur, et les pièces suivantes : carrosseries, lampes, voyants lumineux, tuyau et joint d’arrivée d’eau, tuyau de vidange, panier à couvert , vitres extérieures, couvercle, brûleurs et chapeau de brûleur, porte cassette, tout accessoire en général sauf s’ils sont la conséquence directe d’un dommage d’origine interne garanti.

• L’usure normale telle qu’elle n’affecte pas l’usage ou la sécurité du produit au quotidien.

• Les dommages engageant la responsabilité d’un tiers ou résultant d’une faute intentionnelle ou dolosive.

• Les télécommandes à distance et cartes mémoires pour appareils photo numériques etc...

• Les frais de nettoyages des produits s’ils s’avèrent nécessaires pour effectuer la réparation.

• Les éléments ou accessoires dont le renouvellement régulier est nécessaire (piles, batteries, cartouches d’encre, lampes, filtres etc.).

• Le remplacement des lampes d’éclairage, les câbles de liaison entre les appareils etc.

• Les dommages survenant lors du transport ou déménagement du produit effectué par le client ou l’un de ses représentants sous sa responsabilité.

• Les frais relatifs et/ou les dommages causés par une mauvaise qualité de l’alimentation du produit : tension électrique défectueuse, erreur de voltage, gaz non conforme, vidange, nettoyage filtre ...

• Les pertes de données consécutives à une panne de l’appareil (micro-informatique, téléphonie, appareils photo numériques, lecteurs MP3…). La garantie BUT ne prend pas en charge les frais de réglage et de mise au point des appareils après la vente, sauf s’ils sont la conséquence d’un dommage d’origine interne garanti. Lorsque la réparation exige une reprise en atelier, la garantie ne prend pas en charge les frais d’enlèvement et/ou de relivraison chez le client lorsque ces derniers doivent être engagés en raison de l’exigüité des locaux ou des moyens d’accès à ceux-ci, sauf dans l’hypothèse où la difficulté nous aurait été expressément signalée et contresignée sur le bon de commande. BUT se réserve le droit de désigner un établissement de Service Après-Vente agréé chargé des réparations dans le cas d’un éloignement supérieur à 70 km du magasin BUT. Pour les écrans de technologies LCD et/ou Plasma, en plus des exclusions définies ci-dessus, la garantie ne s’applique pas pour les dommages résultant de pressions ou griffures sur l’écran, la rémanence ou le marquage d’écran dus à l’affichage d’images fixes ( logos, jeux ...), les altérations liées à l’exposition à la lumière (lampe, soleil. ..), les défaillances de pixels (allumés ou éteints) dont le nombre est inférieur aux limites fixées par les normes en vigueur. Pour la micro-informatique, en plus des exclusions définies ci-dessus, la Garantie BUT ne s’applique pas pour les dommages résultant de modifications de programmes, de paramétrages de données ou de défauts de logiciels. De même, le vendeur ou le réparateur ne peuvent être tenus pour responsables de la destruction des fichiers, de logiciels ou de la perte de données consécutives à une panne. Il est de la responsabilité de l’utilisateur d’effectuer une sauvegarde de ses données. La responsabilité du vendeur ou du réparateur ne saurait être engagée en cas d’utilisation de logiciels acquis par des moyens illégaux (copie) ou de présence de virus. En outre, la Garantie BUT ne s’applique pas si la panne est due à un accessoire, un périphérique ou une autre pièce rajoutée par le client, elle ne comprend pas la fourniture de pilotes/drivers et CD de restauration et ne couvre pas l’ensemble des problèmes liés à l’utilisation ou à l’accès internet. Pour le mobilier de cuisine de sa ligne de produit« Signature», la portée de la Garantie BUT est réduite à 5 ans pour les portes, les façades de tiroirs, les boutons, les poignées, et les plans de travail. Cette restriction de durée est également valable pour les modèles d’exposition ou soldés. En ce qui concerne la literie, les produits sont garantis contre tout affaissement anormal ou déformation prématurée au cours d’une utilisation correcte. Cette garantie implique, pour les matelas, une utilisation sur un sommier approprié et en bon état. Le produit ne devra faire l’objet d’aucune tâche, salissure ou souillure. Sont exclus de la garantie : le tissu de recouvrement, le fil à coudre, les fermetures à glissière et d’une façon générale, tous les éléments dont la bonne tenue est liée aux conditions «normales» d’utilisation, les affaissements dont la déperdition n’excède pas 15 % de la hauteur du matelas.

5 - CHAMP D'APPLICATION
Le montant d’une intervention sur un appareil dit technique (Gros Électroménager, écran de technologie LCD et/ou Plasma etc...) ne peut excéder 85% du prix de vente TTC du produit. Dans l’hypothèse où notre Service Après-Vente agréé constaterait l’impossibilité de réparer pendant la durée de la garantie un appareil (selon le Service Après-Vente et non selon le client) et/ou dans le cas où celui-ci ne serait plus fabriqué ou commercialisé sur le marché et/ou dans le cas défini au paragraphe ci-dessus, le magasin vendeur remboursera le prix de l’appareil.

6 - LITIGES ÉVENTUELS DES CGV INTERNET
En cas de litige entre le professionnel et le consommateur, ceux-ci s’efforceront de trouver une solution amiable.
A défaut d’accord amiable, le consommateur a la possibilité de saisir gratuitement le médiateur de la consommation dont relève le professionnel, à savoir l’Association des Médiateurs Européens (AME CONSO), dans un délai d’un an à compter de la réclamation écrite adressée au professionnel.

La saisine du médiateur de la consommation devra s’effectuer :

• soit en complétant le formulaire prévu à cet effet sur le site internet de l’AME CONSO : www.mediationconso-ame.com ;

• soit par courrier adressé à l’AME CONSO, 11 Place Dauphine – 75001 PARIS.



Le consommateur dispose d'un délai de deux ans à compter de la délivrance du bien pour obtenir la mise en œuvre de la garantie légale de conformité en cas d'apparition d'un défaut de conformité. Durant ce délai, le consommateur n'est tenu d'établir que l'existence du défaut de conformité et non la date d'apparition de celui-ci.
Lorsque le contrat de vente du bien prévoit la fourniture d'un contenu numérique ou d'un service numérique de manière continue pendant une durée supérieure à deux ans, la garantie légale est applicable à ce contenu numérique ou ce service numérique tout au long de la période de fourniture prévue. Durant ce délai, le consommateur n'est tenu d'établir que l'existence du défaut de conformité affectant le contenu numérique ou le service numérique et non la date d'apparition de celui-ci.
La garantie légale de conformité emporte obligation pour le professionnel, le cas échéant, de fournir toutes les mises à jour nécessaires au maintien de la conformité du bien.
La garantie légale de conformité donne au consommateur droit à la réparation ou au remplacement du bien dans un délai de trente jours suivant sa demande, sans frais et sans inconvénient majeur pour lui.
Si le bien est réparé dans le cadre de la garantie légale de conformité, le consommateur bénéficie d'une extension de six mois de la garantie initiale.
Si le consommateur demande la réparation du bien, mais que le vendeur impose le remplacement, la garantie légale de conformité est renouvelée pour une période de deux ans à compter de la date de remplacement du bien.
Le consommateur peut obtenir une réduction du prix d'achat en conservant le bien ou mettre fin au contrat en se faisant rembourser intégralement contre restitution du bien, si :
1° Le professionnel refuse de réparer ou de remplacer le bien ;
2° La réparation ou le remplacement du bien intervient après un délai de trente jours ;
3° La réparation ou le remplacement du bien occasionne un inconvénient majeur pour le consommateur, notamment lorsque le consommateur supporte définitivement les frais de reprise ou d'enlèvement du bien non conforme, ou s'il supporte les frais d'installation du bien réparé ou de remplacement ;
4° La non-conformité du bien persiste en dépit de la tentative de mise en conformité du vendeur restée infructueuse.
Le consommateur a également droit à une réduction du prix du bien ou à la résolution du contrat lorsque le défaut de conformité est si grave qu'il justifie que la réduction du prix ou la résolution du contrat soit immédiate. Le consommateur n'est alors pas tenu de demander la réparation ou le remplacement du bien au préalable.
Le consommateur n'a pas droit à la résolution de la vente si le défaut de conformité est mineur.
Toute période d'immobilisation du bien en vue de sa réparation ou de son remplacement suspend la garantie qui restait à courir jusqu'à la délivrance du bien remis en état.
Les droits mentionnés ci-dessus résultent de l'application des articles L. 217-1 à L. 217-32 du code de la consommation.
Le vendeur qui fait obstacle de mauvaise foi à la mise en œuvre de la garantie légale de conformité encourt une amende civile d'un montant maximal de 300 000 euros, qui peut être porté jusqu'à 10 % du chiffre d'affaires moyen annuel (article L. 241-5 du code de la consommation).
Le consommateur bénéficie également de la garantie légale des vices cachés en application des articles 1641 à 1649 du code civil, pendant une durée de deux ans à compter de la découverte du défaut. Cette garantie donne droit à une réduction de prix si le bien est conservé ou à un remboursement intégral contre restitution du bien.
