<div class="profil-info">
  <div class="profil-info-content">
    <h1>Profil de <%= @user.email %></h1>
    <ul>
      <li><strong>Panier : </strong> liste-objet</li>
      <li><strong>modification : </strong> - modifier mot de passe</li>
      <li><strong>Paiment : </strong> - moyen de paiement</li>
    </ul>
  </div>
</div>
