<div style="width:100%;height:100%;margin-top:13vh;display:flex;">
  <%= render "shared/dashboard-selectors"%>
    <div class="container" style="min-height:100vh;width:80%;">
      <%= render "shared/dashboard-synthese"%>
    </div>
  </div>
</div>
