<div class="container">
  <div class="row mt-5">
    <div class="col m-5">
      <h2>Le nom de mon magasin</h2>
      <p>@monmagasin est un magasin de vêtements. Nous travaillons uniquement avec des ateliers français. La collection est entièrement renouvelée chaque saison.</p>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-md-6 m-3">
      <%= render "carrousel-shop" %>
    </div>
    <div class="col-md-4 m-3">
      <%= render "table-opening-hours-shop" %>
    </div>
  </div>
</div>
