<p>Prénom de l'utilisateur:<%= @contact.first_name %></p>
<p>Nom de l'utilisateur:<%= @contact.last_name %></p>
<p>Adresse mail:<%= @contact.email %></p>
<p>Contenu du message:<%= @contact.content %></p>
