
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.banner {
  background-size:cover;
  background-position: center;
  height: 100vh;
  padding-top: 0vh;
  left: 0;
  top: -25vh;
  width: 100%;
  z-index: 10;
}

.bannerh1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.bannerp {
  font-size: 1.5rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.gap {
  height: 40vh;
}
