.banner {
  background-image:radial-gradient(circle, rgba(0,0,0,0.29485297536983546) 0%, rgba(0,0,0,0.50773812943146) 44%, rgba(0,0,0,0.6449930313922444) 100%), url("https://images.unsplash.com/photo-1611575189074-9dfbbceb258a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size:cover;
  background-position: center;
  border-bottom: 2px solid black;
  height: 50vh;
  padding-top: 0vh;
  // padding: 60px 0;
  position:sticky;
  left: 0;
  top: -25vh;
  width: 100%;
  z-index: 100;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.banner p {
  font-size: 1.5rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.gap {
  height: 40vh;
}
