
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.bannerh1 {
  text-transform: uppercase;
  text-align: right;
  font-style: oblique;
  padding-top:6vh;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-decoration: none;
}

.bannerh3 {
  text-align: right;
  font-style: oblique;
  color:white;
  padding:5vh 0;
  text-decoration:none
}

.bannerp {
  font-size: 1.5rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.gap {
  height: 40vh;
}
