.carouselgroup-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  @media screen and (min-width: 480px) {
  height: 560px;
  // padding: 40px 0;
  }
  @media screen and (max-width: 481px) {
  height: 390px;
  }
}

.carouselgroup-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselgroup-item {
  display:flex;
  justify-content: space-between;
  flex: 0 0 100%;
  text-align: center;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

.carouselgroup-button {
  z-index:100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(219, 185, 152);
  border: none;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.prev {
  left: 0px;
  &:hover{
    border:1px solid black;
    background-color:rgb(167, 141, 115); ;
  }
}

.next {
  right: 0px;
  &:hover{
    border:1px solid black;
    background-color:rgb(167, 141, 115); ;
  }
}
