.carouselgroup-container {
  position: relative;
  width: 100%;
  // overflow: hidden;
  @media screen and (min-width: 480px) {
    min-height:25vw;
    max-height:75vw;
  // padding: 40px 0;
  }
  @media screen and (max-width: 481px) {
    min-height: 32vh;
    max-height: 60vh;
  }
}

.carouselgroup-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselgroup-item {
  // overflow: visible;
  display:flex;
  justify-content: space-between;
  flex: 0 0 100%;
  text-align: center;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

.carouselgroup-button {
  z-index:100;
  position: absolute;
  top: 50%;
  background-color: rgba(0,0,0,0);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
}

.prev {
  left: 0;
  i {
    font-size: 2.5rem;
    &:hover{
      color: rgba(12, 12, 12, 0.8);
    }
  }
}

.next {
  right: 0;
  i {
    font-size: 2.5rem;
    &:hover{
      color: rgba(12, 12, 12, 0.8);
    }
  }
}

.main_carousel_area {
  width:100%;
  position:relative;
  overflow-x: hidden;
  @media (min-width: 960px) {
    margin-top:3vh;
    height:75vh;
  }

  @media (min-width: 701px) and (max-width: 959px) {
    margin-top:3vh;
    height:75vh;
  }

  @media (max-width: 700px) {
    margin-top:1vh;
    height:70vh;
  }
}
