.c4-fullprice {
  position:relative;
}

.c4-price00 {
  position:relative;
  bottom:8px;
  left:-4px
}

.c4-fontpromobis {
  position:relative;
  bottom:5px;
  left:-10px;
}

.c4-font {
  text-align:end;
  font-weight:bolder;
}

.c4-promo {
  color:green;
}

.c4promoprice00 {
  text-align:end;
  font-weight:bolder;
  position:relative;
  bottom:8px;
  left:-4px;
  color:green
}

.c4-offprice00 {
  text-align:end;
  font-weight:bolder;
  position:relative;
  bottom:8px;
  left:-4px
}

.c4-offprice {
  text-align:end;
  font-weight:bolder;
  text-decoration:line-through;
}

.c4-offpricebis {
  text-align:end;
  font-weight:bolder;
  position:relative;
  bottom:5px;
  left:-10px;
  text-decoration:line-through;
}

.c4-productname {
  margin-left:5px;
  text-decoration:none;
  color:black;
}

@media screen and (min-width: 481px) {

  .c4-fontsize {
    font-size: 22px
  }

  .c4-fontsizebis {
    font-size: 14px
  }

  .c4-fullcard {
    position:relative;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height:450px;
    max-height:450px;
    min-width:270px;
    max-width:270px;
    background:white;
    margin:10px;
  }

  .c4-buttonarea {
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:100%;
    min-width:50%;
    max-width:50%
  }

  .c4-pricearea {
    text-align: end;
    margin: 0;
    height: 100%;
    min-width:50%;
    max-width:50%
  }
}

@media screen and (max-width: 480px) {

  .c4-favorite {
    position:absolute;
    top:5px;
    right:5px;
  }

  .c4-fontsize {
    font-size: 14px
  }

  .c4-fontsizebis {
    font-size: 10px
  }

  .c4-fullcard {
    position:relative;
    box-shadow: 5px 6px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    min-height:270px;
    max-height:270px;
    min-width:162px;
    max-width:162px;
    background: white;
    margin:5px;
  }
}

.c4-image {
  max-width: 100%;
  max-height: 100%;
}

.c4-imagediv {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 100%;
}

.c4-descriptiondiv {
  height: 20%;
  width: 100%;
  overflow: hidden;
}

.c4-actionandpricearea {
  display:flex;
  height: 25%;
  width: 100%;
}

.c4-buttonarea {
display:flex;
justify-content:space-around;
align-items: center;
height:100%;
width:30%;
}

.c4-pricearea {
text-align: end;
margin: 0;
height: 100%;
width: 70%;
}

.c4-promoprice {
height : 50%;
width: 100%;
}

.c4-classicprice {
height : 50%;
width: 100%;
}

.c4-favorite {
  cursor: pointer;
}

.addToCartIcon {
  display: flex;
  border: none;
  background: none;
  margin: 0 auto;
  padding: 0;
}

.addToCartIcon:hover{
  cursor: pointer;
}
