.bloglink {
  cursor:pointer;
}

.bloglink:hover {
  background: rgb(151, 151, 255);
}

.promolink {
  text-decoration:none;
  color:red;
}

.categories_h3 {
  writing-mode: vertical-rl;
  text-align:center;
  margin-top:3vh;
}
