.log-formulaire {
  border: solid 2px rgb(0, 0, 0);
  box-shadow: 7px 4px 7px rgb(0, 0, 0);
  justify-content: center;
}

.log-formulaire h2,label{
  color: white;
}

.labelcolor {
  color:black;
  font-style: italic;
}
