@media screen and (max-width: 480px) {

  .leftbodybanner {
    display:none;
  }

  .rightbodybanner {
    display:none;
  }

  .producthomecontainer {
    // width:9100;
    // margin: 0 auto;
  }

  .catwrapperoddevencontent {
    width:100%;
    height:380px;
    overflow:scroll;
      &::-webkit-scrollbar{
        border-radius: 10px;
        height: 5px;
        background-color: rgba(0,0,0,0);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        background-color: rgba(100,100,100,0.4);
      }
      &::-webkit-scrollbar-track {
        height: 16px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
        background-color: rgba(0,0,0,0);
      }
    }

    .oddcategory {
      box-shadow: 5px 5px 10px grey;;
      border-radius: 10px;
      padding:15px;
      margin-right:80px;
      max-width:210px;
      min-width:210px;
      min-height:160px;
      max-height:160px;
      background:red
    }

    .evencategory {
      box-shadow: 5px 5px 10px grey;;
      border-radius: 10px;
      padding:15px;
      margin-left:100px;
      max-width:210px;
      min-width:210px;
      min-height:160px;
      max-height:160px;
      background:orange
    }

    .catwrapperhomepage {
      width: 100%;
      height:140px;
      margin:0 auto;
      display:flex;
      &::-webkit-scrollbar{
        border-radius: 10px;
        // width: 12px;
        height: 5px;
        background-color: rgba(0,0,0,0);
      }
      // correspond à la bande defilante
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // height: 30px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        background-color: rgba(120,120,120,0.4);
      }
      // correspond à la piste sur toute la longueur
      &::-webkit-scrollbar-track {
        height: 16px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
        background-color: rgba(0,0,0,0);
      }
    }

  .wrapperhomepage {
    width:100%;
    height:300px;
    margin:0 auto;
    display:flex;
    overflow-x:auto;
    &::-webkit-scrollbar{
      border-radius: 10px;
      // width: 12px;
      height: 5px;
      background-color: rgba(0,0,0,0);
    }
    // correspond à la bande defilante
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      // height: 30px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: rgba(120,120,120,0.4);
    }
    // correspond à la piste sur toute la longueur
    &::-webkit-scrollbar-track {
      height: 16px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
      background-color: rgba(0,0,0,0);
    }
  }

  .banner {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    // height: 100vh;
    padding-top: 0vh;
    margin:0 auto;
    margin-top: 4vh;
    min-width: 100vw;
    // max-width: 100vw;
    z-index: 10;
  }

  .bannertextfield {
    padding-top:5vh;
    text-align:center;
  }

  .stockmanage_update {
    position:absolute;
    right:2vw;
    top:8vh;
  }

  .enable_on_desktop {
    display:none;
  }

  .searchinputlength {
    width:80vw;
  }

  .menucategory {
    left:-190vw;
    padding-left: 2rem;
    position:fixed;
    height:110vh;
    width:95vw;
  }

  .displaycat {
    transform:translateX(200%);
  }

  .subcategorymenu {
    left:-95vw;
    height:110vh;
    width:95vw;
    z-index:1001;
    padding-bottom: 4vh;
  }

  .removeMenuArrow {
    transform: rotate(50deg);
    position:absolute;
    bottom:20vh;
    left:45vw;
  }

  .removeMenuArrow:active {
    transition-duration: 200ms;
    transform: rotate(-310deg);
  }

  #removeMenuCatArrow {
    bottom:20vh;
    left:45vw;
  }

  #removeMenuCatArrow:active {
    transition-duration: 200ms;
    transform: rotate(-310deg);
  }

  #categories_left_barre {
    display:none;
  }

  .responsivesearchbar {
    transition-duration: 500ms;
    position:absolute;
    top:-200%;
    left:0;
    width: 100vw;
    margin-top:2vh;
    z-index:0;
  }

  .responsivesearchbaronclick {
    transition-duration: 500ms;
    position:absolute;
    top:100%;
    left:0;
    width: 100vw;
    margin-top:2vh;
    z-index:50;
  }

  #mobile-magnifying-glass {
    font-size: xx-large;
    color:rgb(95, 95, 224);
  }

  .mobile-magnifying-glass-masked {
    display:none;
    transition-duration: 200ms;
  }

  .searchbar {
    position: absolute;
    top: 7vh;
    left:1vw;
  }

  .menupanier {
    left:-97vw;
    width: 97vw;
  }

  .displaysubcat {
    transition-duration: 350ms;
    transform:translateX(100%);
  }

}
