@media screen and (min-width: 481px) {
  .producthomecontainer {
    width:70vw;
    margin: 0 auto;
  }

  .oddcategory {
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    padding:15px;
    margin-right:125px;
    max-width:400px;
    min-width:400px;
    min-height:320px;
    max-height:320px;
    background:red
  }

  .evencategory {
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    padding:15px;
    margin-left:175px;
    max-width:400px;
    min-width:400px;
    min-height:320px;
    max-height:320px;
    background:orange
  }

  .catwrapperoddevencontent {
  width:70vw;
  height:600px;
  overflow:scroll;
    &::-webkit-scrollbar{
      border-radius: 10px;
      height: 20px;
      background-color: rgba(0,0,0,0);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: rgba(100,100,100,0.4);
    }
    &::-webkit-scrollbar-track {
      height: 16px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
      background-color: rgba(0,0,0,0);
    }
  }

  .catwrapperhomepage {
    width:70vw;
    height:200px;
    margin:0 auto;
    display:flex;
    &::-webkit-scrollbar{
      border-radius: 10px;
      // width: 12px;
      height: 5px;
      background-color: rgba(0,0,0,0);
    }
    // correspond à la bande defilante
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      // height: 30px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: rgba(120,120,120,0.4);
    }
    // correspond à la piste sur toute la longueur
    &::-webkit-scrollbar-track {
      height: 16px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
      background-color: rgba(0,0,0,0);
    }
  }

  .wrapperhomepage {
    // width:70vw;
    height:500px;
    margin:0 auto;
    display:flex;
    overflow-x:auto;
    &::-webkit-scrollbar{
      border-radius: 10px;
      height: 20px;
      background-color: rgba(0,0,0,0);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: rgba(100,100,100,0.4);
    }
    &::-webkit-scrollbar-track {
      height: 16px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
      background-color: rgba(0,0,0,0);
    }
  }

  .mobileonly {
    display:none;
  }

  .banner {
    background-size:cover;
    background-position: center;
    height: 100vh;
    padding-top: 0vh;
    left: 0;
    top: -25vh;
    width: 100%;
    z-index: 10;
  }

  .bannertextfield {
    padding-top:18vh;
    text-align:center;
  }

  .stockmanage_update {
    position:absolute;
    right:10vw;
    top:2vh;
  }
  #mobile-magnifying-glass {
    display:none;
  }

  #close-search-input {
    display:none;
  }

  .searchinputlength {
    width:60vw;
  }

  .responsivesearchbar {
  }

  .enable_on_smartphone {
    display:none
  }

  .subcategorymenu {
    z-index:1000;
  }


  #categories_left_barre {
    position:absolute;
    top:35vh;
    left:0vw;
    position:fixed;
    height:30vh;
    width:3vw;
    background: black;
    color:white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index:101;
  }

  #removeMenuCatArrow {
    height: 50px;
    z-index: 102;
    bottom: 10%;
    left: 45%;
  }

  #removeMenuCatArrow:hover {
    transition-duration: 500ms;
    transform: rotate(-310deg);
  }

  .removeMenuArrow {
    transform: rotate(50deg);
    position: absolute;
    height: 50px;
    z-index: 102;
    bottom: 10%;
    left: 45%;
  }

  .removeMenuArrow:hover {
    transition-duration: 500ms;
    transform: rotate(-310deg);
  }

  .displaybtncategories {
    display:none;
  }

  .menucategory {
    left:-15vw;
    padding-left: 2vw;
    height:100vh;
    width:15vw;

  }

  .subcategorymenu {
    left:-15vw;
    height:100vh;
    width:15vw;
  }

  .subcathover:hover {
    text-decoration: underline;
    cursor:pointer;
    transition-duration: 350ms;
    transform:translateX(1vw);
  }

  .displaysubcat {
    transition-duration: 350ms;
    transform:translateX(198%);
  }

  .displaycat {
    transform:translateX(100%);
  }

  .btnhome:hover {
    padding: 10px 120px 10px 10px;
    transition-delay: 50ms;
    transition-duration: 400ms;
    background: rgba(200,200,200,0.3);
    box-shadow: inset 3px 3px rgba(200,200,200,0.7);
    background:rgba(157, 212, 157, 0.65);
  }

  .menupanier {
    width: 60vw;
    left:-60vw;
  }

  .enable_on_desktop {
    margin:0;
    width:100vw;
    padding: 10px;
    display:flex;
    justify-content:space-around;
    background:rgba(255, 255, 255, 0.781);
    p {
      margin: 0;
    }
  }

  .subcategorydesktopmenu {
    margin:0;
    width:100vw;
    height:20vh;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    background:rgb(255, 255, 255);
    border-bottom: 1px solid grey;
  }

  .desktop_subcat_hide_or_not {
    display:none;
  }


}
