@media screen and (max-width: 480px) {

  .stockmanage_update {
    position:absolute;
    right:2vw;
    top:8vh;
  }

  .enable_on_desktop {
    display:none;
  }

  .searchinputlength {
    width:80vw;
  }

  .menucategory {
    left:-190vw;
    padding-left: 2rem;
    position:fixed;
    height:110vh;
    width:95vw;
  }

  .displaycat {
    transform:translateX(200%);
  }

  .subcategorymenu {
    left:-95vw;
    height:110vh;
    width:95vw;
    z-index:1001;
    padding-bottom: 4vh;
  }

  .removeMenuArrow {
    transform: rotate(50deg);
    position:absolute;
    bottom:20vh;
    left:45vw;
  }

  .removeMenuArrow:active {
    transition-duration: 200ms;
    transform: rotate(-310deg);
  }

  #removeMenuCatArrow {
    bottom:20vh;
    left:45vw;
  }

  #removeMenuCatArrow:active {
    transition-duration: 200ms;
    transform: rotate(-310deg);
  }

  #categories_left_barre {
    display:none;
  }

  .responsivesearchbar {
    transition-duration: 500ms;
    position:absolute;
    top:-200%;
    left:0;
    width: 100vw;
    margin-top:2vh;
    z-index:0;
  }

  .responsivesearchbaronclick {
    transition-duration: 500ms;
    position:absolute;
    top:100%;
    left:0;
    width: 100vw;
    margin-top:2vh;
    z-index:50;
  }

  #mobile-magnifying-glass {
    font-size: xx-large;
    color:rgb(95, 95, 224);
  }

  .mobile-magnifying-glass-masked {
    display:none;
    transition-duration: 200ms;
  }





  .searchbar {
    position: absolute;
    top: 7vh;
    left:1vw;
  }

  .menupanier {
    left:-97vw;
    width: 97vw;
  }

  .displaysubcat {
    transition-duration: 350ms;
    transform:translateX(100%);
  }
}
