.nav-link {
  border: 1px solid rgba(0,0,0,0);
  color: white;
}

.nav-link:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color:white;
}

.navfixed {
  position:absolute;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 102;
}

.navfixedwithbanner {
  height: 6vh;
  position:absolute;
  position:fixed;
  top:3vh;
  left:0;
  width:100%;
  z-index: 102;
}

.bannerpub {
  height:3vh;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background:black;
  color:white;
  text-align:center;
  z-index: 102;
  vertical-align: middle;

}

  @keyframes slidein {
    from {
      left: 80%;
      // width: 300%;
    }

    to {
      left: -80%;
      // width: 100%;
    }
  }

.profile_div {
  @media screen and (min-width: 481px) {
    display: flex;
    align-items: end;
    margin: 0 0 0 10%;
    width:20%;
    display:flex;
    justify-content: center;
  }
  @media screen and (max-width: 480px) {
    display:none
  }
}

.profilebutton {
  background: rgba(0,0,0,0);
  margin: 0 auto;
  border: none;
  font-size: 2.4vh;
  color: black;
}

.btncart {
  height: 4vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  cursor: pointer;
  @media screen and (min-width: 481px) {
  margin: 0 auto;
  }
  @media screen and (max-width: 480px) {
    margin: 0 10vw;
  }
}

.navbarrightside {
  display:flex;
  justify-content:flex-end;
  width:15vw;
  margin-right:5vw;
}

.btnhome {
  transition-delay: 50ms;
  transition-duration: 400ms;
  // padding: 10px 10px 10px 10px;
  border-radius: 20px;
  width: 40px;
  border: 1px solid grey;
  cursor: pointer;
}

.circle_items_count {
  font-size: 10px;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
  margin-left: 2px;
  transform-origin: top;
  transition: transform 1500ms ease-in-out;
}

.circle_items_count.visible {
  background: rgba(135, 183, 189, 1);
}

.cartflash {
  transform: scale(2.5);
}

.circle_items_count.hidden {
  background:rgba(0, 0, 0, 0);
}

.nav {
  background-color: transparent;
  border-style: none;
  text-align: center;
}

// margin:-6px -6px;
