a.link-order-profile {
  text-decoration: none;
  color: black;
}

.tab-link {
  color: black;
  font-size: 1rem;
  font-weight:600;
  background-color: transparent;
  border-style: none;
  padding: 5px;
}

.tab-link.active {
  border-bottom: solid ;
}

.margin-right {
  margin-right: 20px;
}

.margin-left {
  margin-left: 20px;
}

.key-number {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


@media screen and (max-width: 481px) {
  .display-key-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (min-width: 482px) {
  .display-key-numbers {
    display: flex;
    justify-content: space-around;
  }
}
