#quantity-form {
  padding-top: 1vh;
  padding-bottom:1vh;
  background: rgb(116, 116, 199);
  bottom: 0;
  left:0;
  position:absolute;
  position: fixed;
  width: 100vw;
  height: 5vh;
  z-index:9999;
  display:flex;
  justify-content: space-around;
}

#quantitymodule button {
  // padding-left: 10px;
  // padding-right: 10px;
}

.table-container {
  display: flex;
  th {
    padding:0 3vw;
    height:5vh;
    background: black;
    color:white;
    border:1px solid white;
  }
  tr {
    border-bottom:1px solid black
  }
  td {
    height:5vh;
    text-align:left;
  }
}


.fixed-column {
  width: 100px;
}

.scrollable-columns {
  overflow-x: scroll;
  flex: 1;
}
