.adminaction {
  display:flex;
  justify-content:space-around;
}

.shareicon {
  color:black;
  font-size:2rem;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  -webkit-text-stroke: 1px white;
}


.productcaract{
  box-shadow: 1px 1px 3px grey;
  // margin:2rem 0;
  margin: 0 auto;
  tbody {
    td {
      p {
        display: grid;
        margin: 0 auto;
      }
    }
  }

  .tabledata {
    width:65%;
  }

  .boldcaract{
    color:white;
    background: black;
    font-weight:bold;
    text-align:left;
    margin-left:1rem;
    width:35%;
  }

  @media screen and (max-width: 481px) {
    .boldcaract {
      min-width:35vw;
      max-width:35vw;
    }
    p {
      min-width: 55vw;
      max-width: 55vw;
      overflow-x: scroll;
    }
  }
}


.btnathome {
  background: black;
  border: none;
  border-radius: 0px;
  color: white;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  &:hover {
    color:rgb(231, 231, 231);
    background: #131618;
  }
}

.tags_description {
  padding-top:2vh
}

.span_wordtag {
  margin: 0.4rem;
  padding: 0.5rem;
  background: linear-gradient(180deg, #d2d2d2 0%, #b5b5b5 87%);
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-style: oblique;
  font-size: smaller;
  // font-weight: bolder;
  text-decoration: wavy;
}

.dataproductnameshow {
  text-transform: capitalize;
  text-align: left;
  border-bottom:1px solid grey;
  padding-bottom:3vh;
  margin-bottom:3vh;
  @media screen and (max-width: 481px) {
    margin-top:1rem;
  }
}

.vignettesalon {
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
  overflow: hidden;
  img {
    height:auto;
    width:100%;
  }
  @media screen and (min-width: 481px) {
    width:18%;
    height:8vw;
    p {
      font-weight: lighter;
      text-align: left;
      margin: auto;
      display: table-caption;
      margin-left: 30%;
    }
    i {
      margin-right:5%;
    }
  }
  @media screen and (max-width: 480px) {
    width:18%;
    height:8vh;
    p{
      display:none;
    }
    i {
      font-size: xx-large;
      margin:0 auto
    }
  }
}

@media screen and (min-width: 481px) {
  .btnaddproduct {
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #54a054;
    height: 5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0px;
    border: none;
    color: white;
  }
}



.promospanshowproduct {
  position:absolute;
  right:0;
  top:15%;
  color:white;
  padding:4px 8px;
  background:grey;
  z-index:2;
}

.shareiconbg {
  // background: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  z-index: 2;
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  justify-content: center;
  padding: 22px;
  padding-right: 25px;
  box-shadow: 1px 1px 2px grey;
}

@media screen and (max-width: 480px) {

  .productcarrousselarea {
    margin-top:1rem;
    width:100%;
    height: fit-content;
    position:relative;
  }
  .btnaddproduct {
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #54a054;
    border-radius: 0px;
    color: white;
    position:absolute;
    bottom:-5px;
    padding-bottom: 5px;
    left:0;
    right:0;
    width:auto;
    text-align:center;
    height: 7vh;
    position:fixed;
    z-index: 50;
  }
  .fildariane {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

}

@media screen and (min-width: 481px) {

  .productcarrousselarea {
    min-width:50%;
    max-width:50%;
    height: fit-content;
    position:sticky;
    top:25vh;
    height:100%
  }

  .fildariane {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .back-products-button{
    margin-bottom: 2rem;
  }
}


.fildariane {
  color: rgb(75, 75, 75);
  a {
    text-decoration: none !important;
    cursor:pointer;
    color: rgb(75, 75, 75);
  }
  a:hover{
    color: black;
  }
}


.heart-favorite-product-show{
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 2;
  font-size: 2rem;
  -webkit-text-stroke: 1px white;
}

#zoom-product-show {
  cursor:pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  font-size: 2rem;
  color:aquamarine;
}


.buttons_show_action {
  display:flex;
  justify-content:space-around;
  align-items: center;
  margin-top:1rem;
  color:black;
  font-size:xx-large;
}

.btn-backproduct {
  padding: 0.6rem;
  background: #212529;
  height: 5vh;
  color:white;
  align-items: center;
  &:hover {
    color:rgb(231, 231, 231);
    background: #131618;
  }
}
