.adminaction {
  display:flex;
  justify-content:space-around;
}

.shareicon {
  color:white;
  font-size:2rem;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  display: flex;
}

.productcaract{
  background:rgb(241, 237, 237);
  margin:2rem 0;
  .boldcaract{
    border-right:1px solid black;
    font-weight:bold;
    text-align:left;
    margin-left:1rem;
    background:rgb(201, 201, 201);
  }
  @media screen and (max-width: 481px) {
    .boldcaract {
      max-width:35vw;
    }
    p {
      max-width: 55vw;
      overflow-x: scroll;
    }
  }
}

.tags_description {
  padding-top:2vh
}

.span_wordtag {
  margin:0.4rem;
  padding:0.5rem;
  background: rgb(245,22,247);
  background: linear-gradient(180deg, rgb(245,22,247) 0%, rgb(148,37,222) 87%);
  border-radius:3px;
  color:white;
  text-transform: uppercase;
  font-style: oblique;
  font-size:larger;
  font-weight:bolder;
  // -webkit-text-stroke: 1px grey;
  text-decoration: wavy;
}

.dataproductnameshow {
  text-align: center;
  border-bottom:1px solid grey;
  padding-bottom:3vh;
  margin-bottom:3vh;
  @media screen and (max-width: 481px) {
    margin-top:1rem;
  }
}

.promospanshowproduct {
  position:absolute;
  right:0;
  top:5%;
  border:1px solid red;
  color:red;
  padding:4px;
  background:white;
  z-index:2;
}

.shareiconbg {
  background: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  z-index: 2;
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  justify-content: center;
  padding: 22px;
  padding-right: 25px;
}

@media screen and (max-width: 480px) {

  .productcarrousselarea {
    margin-top:1rem;
    width:100%;
    height: fit-content;
    position:relative;
  }
  .addtocart {
    position:absolute;
    bottom:-5px;
    padding-bottom: 5px;
    left:0;
    right:0;
    width:auto;
    text-align:center;
    height: 7vh;
    position:fixed;
    z-index: 2;
  }
}

@media screen and (min-width: 481px) {

  .productcarrousselarea {
    min-width:50%;
    max-width:50%;
    height: fit-content;
    position:sticky;
    top:25vh;
    height:100%
  }
}

.heart-favorite-product-show{
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 2;
  font-size: 2rem;
}

#zoom-product-show {
  cursor:pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  font-size: 2rem;
  color:aquamarine;
}


.simulateurbutton {
  display:flex;
  justify-content:center;
  margin-top:1rem
}
