// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
//@import "bootstrap/scss/bootstrap";
@import "font-awesome";
//@import "trix/dist/trix";
// Your CSS partials
@import "components/index";

#WORK_IN_PROGRESS {
  position:fixed;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  background:aliceblue;
  z-index: 9999999;
  text-align: center;
  svg {
    width: 50%;
  }
  div {
    width:30vw;
    height:30vh;
    position:absolute;
    bottom:0;
    left:0;
  }
}

.CGV {
  h1 {
    font-size:xx-large;
    text-decoration: underline;
    color:rgb(50, 40, 137);
    margin:7rem 0;
    text-align: center;
    font-weight: bolder;
  }

  h2 {
    text-decoration: underline;
    font-size:x-large;
    color:rgb(50, 40, 137);
    margin:1.5rem 1rem;
  }

  h3 {
    text-decoration: underline;
    font-size:large;
    color:rgb(50, 40, 137);
    margin:1rem 2rem;
  }

  h4 {
    text-decoration: underline;

    font-size:medium;
    color:rgb(50, 40, 137);
    margin:0.7rem 3rem;
  }

  p {
    font-size:medium;
    text-align: justify;
    color:black;
    margin:0.5rem 0;
  }

  li {
    font-size:small;
    text-align:left;
    margin-left:2rem;
  }
}

.form_margin {
  margin: 0 0.5rem;
}

.select-form {
  cursor: pointer;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 1.5rem;
}

.pubsimulateur {
  max-width:100%;
  max-height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  transition: 1200ms;
  filter: brightness(0.85);
  color:white;
  img {
    box-shadow: -30px -30px 0px rgb(0, 58, 108);
    &:hover {
      filter: brightness(0.2);
      transition: 1200ms;
    }
  }
}

#account_and_wishlist_buttons {
  @media screen and (max-width: 480px) {
  margin: 0 auto;
  display:flex;
  justify-content: space-evenly;;
  align-items:center;
  position: fixed;
  bottom: 0vh;
  left:-190vw;
  width:95vw;
  height: 10vh;
  background:black;
  color:white;
  z-index:1001;
    a {
      color:white;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 481px) {
    display:none
  }
}

.buttonaccount {
}

.h3pubsimulateur {
  position:relative;
  top:50px;
  left:50px;
  color:white;
}

html {
  padding:0;
}

body {
  font-family: 'Montserrat', sans-serif ;
  margin:0;
}

.navtabbtn {
  font-size:x-large;
  font-weight:bold;
  &:hover {
    color:grey;
  }
}

.hiddenzoom {
  display:none;
}




.reassurance_area {
    margin: 5vh 0;
    @media screen and (min-width: 481px) {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
      .reassurance {
        width: 15vw;
        height: 15vw;
        img {
          margin:10% auto;
          height:30%;
          width:auto;
          display:flex;
          justify-content: center;
          align-items: center;

        }
      p {
      text-align:center;
      font-size:larger;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .reassurance_area {
    display: flex;
    flex-direction: column;
    justify-content: center;

  .reassurance {
    width: 20vh;
    height: 20vh;
    margin: 5% auto;
    img {
      margin:10% auto;
      height:30%;
      width:auto;
      display:flex;
      justify-content: center;
      align-items: center;

    }
      p {
      text-align:center;
      }
    }
  }
}



.grid{
  margin:0;
  padding:0;
  display:grid;
  grid-template-columns: 1fr 1fr;

  div {
    background-color: violet;
    border:1px solid blueviolet
  }

  .divide {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    div {
      background-color: rgb(137, 130, 238);
      border:1px solid rgb(131, 43, 226)
    }
  }
}



#zoompreview {
  display:flex;
  justify-content: center;
  height:90%;
  width:90%;
  z-index: 99999999999;
  position:fixed;
  top:5%;
  left:5%; /* ramène l'élément au centre */
  background: white;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

#zoompreview img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 100%;
  height: auto;
}


.hidden {
  display:none;
}

.underline {
  border-bottom:4px solid black;
}

tr {
  border:none;
}

td {
  border:none;
}

.dashboardselector:hover {
  overflow:hidden;
  transition: 200ms;
  background:rgba(255,255,255,1);
  color:black;
}

.dashboardselector.active {
  overflow:hidden;
  transition: 200ms;
  background:rgba(255,255,255,1);
  color:black;
}

button {
  background:rgba(0,0,0,0);
  margin:0;
  padding:0;
  border:none;
}

.nobanner {
  background-image:radial-gradient(circle, rgba(0,0,0,0.29485297536983546) 0%, rgba(0,0,0,0.50773812943146) 44%, rgba(0,0,0,0.6449930313922444) 100%)
}

.pagynavdiv {
  display:flex;
  justify-content:center;
  width:100%;
  height:50px;
  margin: 5vh 0px;
}

.catvignettename {
  text-shadow: black 0px 0 5px;
  color:white;
  padding-left: 5px;
}

.carouselh3 {
  text-transform: uppercase;
  text-align:left;
  margin: 2vh 2vw 2vh 2vw;
  font-size:1.5rem;
}

.pagymarginleft{
  margin-left:4vw;
}

.btnbanner {
  transition: 600ms;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  height:6vh;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
  width: 70vw;
  text-decoration: none;
  color: white;
  margin-bottom: 1vh;
  }

  @media screen and (min-width: 481px) {
  margin:8rem auto;
  display:flex;
  justify-content:center;
  align-items: center;
  width:20vw;
  text-decoration:none;
  color:white;
      &:hover {
        width:40vw;
        transition: 600ms;
        background: rgba(0,0,0,0.9);
    }
  }
}

.labelstockmobile{
  display:none;
}

.categorymenu {
  padding-bottom:4vh;
}

.categorymenu:hover {
  transition-duration: 350ms;
  transform:translateX(1vw);
  text-decoration: underline;
  cursor:pointer;
}

.tab-link {
  color: rgb(0,0,0);
  font-size: 30px;
  // font-weight:bolder;
  background-color: rgba(0,0,0,0);
  border-style: none;
}

.cookies-modal {

  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
  z-index: 5000;
  background: rgba(243, 243, 243,0.85);
  padding: 2vw;
  word-break: break-word;
  border-radius: 0.5rem;
  min-width: 50vw;
  max-width: 95vw;
}

.deploy_home_icon {
  transition: 150ms;
  color:rgba(0,0,0,0);
}

.TESTAPPEARHOME {
  margin-left:25px;
  transition: 800ms;
  color:gray;
}

////////////////////////


main {
  margin-top:18%;
}

.fildariane {
  margin: 2%;
  a {
    text-decoration: none;
    cursor:pointer;
    color: rgb(75, 75, 75);
  }
  a:hover{
    color: black;
    text-decoration: underline;
  }

  a:nth-child(1)::after, a:nth-child(2)::after {
    content:">"
  }

  a:last-child {
    margin: 2% 0;
    text-align: center;
    width: 70%;
    display: block;
    padding: 0.6rem;
    background: #212529;
    color:white;
    align-items: center;
    &:hover {
      text-decoration: none;
      color:rgb(231, 231, 231);
      background: #131618;
      box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
    }
  }
}

@media screen and (min-width: 481px) {
  main {
    margin: 12% 0 4% 0;
  }
  .fildariane {
    margin: 0 10%;

    a:last-child {
      width: 40%;
    }
  }
}

@media screen and (min-width: 960px) {

  main {
    margin: 5% 0 4% 0;
  }

  .fildariane {
    a:last-child {
      width: 25%;
    }
  }
}


//////////////////////

.preview_show {
  position:relative;
  height: 100%;
  width:100%
}

.product_show_area {
  display:flex;
  flex-direction: column;
  h2 {
    margin:5% 0 2% 0;
    text-transform: uppercase;
  }

  h3 {
    color:green;
    font-weight: 400;
  }

  h4 {
    margin:5% 0 2% 0;
    font-weight: 600;
  }

  p {
    margin: 2% 0 4% 0;
  }

  .price {
    margin: 1% 0;
    font-size: larger;
  }

  .promo_price {
    margin:1% 0;
    font-size: x-large;
    color:green;
  }
}

.product_data_show {
  display: flex;
  flex-direction: column;
  // width: 100%;
  margin: 0 auto;
  width: 92%;
}

.carousel-section {
  padding: 2rem 4%;
  width: 100%;
  margin: auto;
}




@media screen and (min-width: 481px) {


  .product_show_area {
    margin: 0 10%;
    h2 {
      margin:0% 0% 2% 0%;
    }
  }

  .product_data_show {
    width: 100%;
  }
}


@media screen and (min-width: 960px) {

  .product_show_area {
    display:flex;
    flex-direction: row;
  }

  .product_data_show, .preview_show {
    width:50%;
    margin:2%;
  }

  .preview_show {
    position: sticky;
    top: 10%;
  }

  .carousel-section {
    padding: 2rem 10%;
    width: 100%;
    margin: auto;
  }

}

////////////////////
.carousel-item {
  img {
    max-width: 90%;
    height: auto;
  }
}

/////////////

.grey-section {
  background:rgba(200,200,200,0.3);
  box-shadow: 0px 0px 10px rgba(200,200,200,0.5);
}
