// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-bg {
  min-height: 100vh;
  background: $background-color;
  position: relative;
  z-index: 5;
}

.labelcolor {
  color:black;
}

table {
  font-family: arial;
}


table,
td {
  padding:5px 10px;
}

th {
  border: 1px solid black;
  text-align: center;
  background: white;
}

td {
    border: 1px solid gray;
}

thead,
tfoot {
    background-color: rgba(0,0,0,0);
    color: black;
}

@media screen and (max-width: 480px) {
  .menupanier {
    min-height: 100vh;
    position:fixed;
    width: 97vw;
    position: absolute;
    top:0vh;
    left:-97vw;
    z-index: 1001;
    background-color:white;
    // background-color: rgba(0,0,0,0.0);
    transition-duration: 650ms;
  }

  .open {
    position:fixed;
    transition-duration: 650ms;
    transform:translateX(100%);
    background-color:white;
  }
  }

@media screen and (min-width: 481px) {
  .menupanier {
    min-height: 100vh;
    position:fixed;
    width: 60vw;
    position: absolute;
    top:0vh;
    left:-60vw;
    z-index: 1001;
    background-color:white;
    // background-color: rgba(0,0,0,0.0);
    transition-duration: 500ms;
  }

  .open {
    position:fixed;
    transition-duration: 500ms;
    transform:translateX(100%);
    background-color:white;
  }
  }

  .cartempty {
    border: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    text-align:end;
    text-decoration: none;
    font-size: smaller;
    margin-right: 2vw;
    margin-top: 8vw;
    margin-bottom: 5vw;
  }

.darkenmenuopen {
  background: rgba(0,0,0,0.5);
  left: 0;
  position:absolute;
  position:fixed;
  top: 0;
  transition-duration: 500ms;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.btncart {
  padding:8px 50px;
  border-radius: 10px;
  background: rgba(200,200,200,0.4);
  cursor: pointer;
}

.btncart:hover {
  background: rgba(200,200,200,0.3);
  box-shadow: inset 3px 3px rgba(200,200,200,0.7);
}
