// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.cartempty {
  border: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
  text-align:end;
  text-decoration: none;
  font-size: smaller;
  margin-right: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.darkenmenuopen {
  background: rgba(0,0,0,0.5);
  left: 0;
  position:absolute;
  position:fixed;
  top: 0;
  transition-duration: 500ms;
  height: 110vh;
  width: 100vw;
  z-index: 1000;
}

.btncart {
  padding: 5px 9px;
  border-radius: 20px;
  // position: absolute;
  // right: 80px;
  border: 1px solid grey;
  cursor: pointer;
}

.btncart:hover {
  background: rgba(200,200,200,0.3);
  box-shadow: inset 3px 3px rgba(200,200,200,0.7);
}

.btnhome {
  transition-delay: 50ms;
  transition-duration: 400ms;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  // position: absolute;
  // left: 60px;
  width: 40px;
  // bottom: 8px;
  border: 1px solid grey;
  cursor: pointer;
}

.spin_zoom_img {
  background-size: cover;
  transition: transform .7s ease-in-out;
  overflow: hidden;
  // z-index:1;
}

.spin_zoom_img:hover {
  transform: rotate(10deg) scale(120%);
}

.circle_items_count {
  font-size: 10px;
  background:rgba(254, 169, 1, 0.8);
  position: absolute;
  // right:10px;
  // bottom:-6px;
  // right:-6px;
  border-radius:50%;
  // border: 1px solid rgba(90, 61, 3, 0.8);
  padding:8px;
  height: 15px;
  width: 15px;
}

.displaysubcat {
  transition-duration: 350ms;
  transform:translateX(100%);
}

.categorymenu {
  padding-bottom:4vh;
}

.categorymenu:hover {
  transition-duration: 350ms;
  transform:translateX(1vw);
  text-decoration: underline;
  cursor:pointer;
}

.category_index {
  display: none;
}

.nav {
  background-color: transparent;
  border-style: none;
  text-align: center;
}

.tab-link {
  color: red;
  font-size: 40px;
  font-weight:600;
  background-color: transparent;
  border-style: none;
}


.legalh2 {
  padding-top:5vh;
  padding-bottom:2vh;
  font-weight:bolder;
}

.cookies-modal {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  z-index: 5000;
  background: rgba(236, 224, 199,0.4);
  padding: 2vw;
  word-break: break-word;
  border-radius: 0.5rem;
  min-width: 50vw;
  max-width: 95vw;
}

.TESTHIDE {
  transition: 150ms;
  // transform: translateX(-100%);
  color:rgba(0,0,0,0);
}

.TESTAPPEARHOME {
  margin-left:25px;
  transition: 800ms;
  // transform: translateX(100%);
  color:gray;
}

.offcanvas-header {
  z-index: 10;
}

.mentionslegales {
  font-size:2vh;
  list-style-type:none;
}

.mentionslegales:hover {
  text-decoration:underline
}

.scroller {
  width: 97%;
  height: 85vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}




.labelcolor {
  color:black;
}

table {
  font-family: arial;
}


table,
td {
  padding:5px 10px;
}

th {
  border: 1px solid black;
  text-align: center;
  background: white;
}

td {
    border: 1px solid gray;
}

thead,
tfoot {
    background-color: rgba(0,0,0,0);
    color: black;
}

@media screen and (max-width: 480px) {

  .acceuil{
    justify-content: center;
  }


  .searchbutton {
    margin: auto;
    width: 3vw;
    height: 3vh;
    border-radius: 3vw;
    background-image: url(https://www.pngfind.com/pngs/m/54-545482_vector-search-icon-search-icon-vector-png-transparent.png);
    background-size: cover;
    background-position-x: -5px;
    border-radius: 25px;
    border: 1px solid grey;
  }

  .MENUCATEGORY {
    position:absolute;
    top:0;
    left:-190vw;
    padding-left: 2rem;
    padding-top: 10vh;
    position:fixed;
    height:110vh;
    width:95vw;
    background: rgb(247,247,247);
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
    z-index:1000;
  }

  .displaycat {
    transition-duration: 350ms;
    transform:translateX(200%);
  }

  .subcategorymenu {
    position:absolute;
    top:0;
    left:-95vw;
    padding-top: 10vh;
    padding-left: 2rem;
    position:fixed;
    height:110vh;
    width:95vw;
    background: rgb(240,240,240);
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
    z-index:1001;
  }



  .removeMenuArrow {
    transform: rotate(50deg);
    position:absolute;
    bottom:20vh;
    left:45vw;
  }

  .removeMenuArrow:active {
    transition-duration: 200ms;
    transform: rotate(-310deg);
  }

  #removeMenuCatArrow {
    transform: rotate(50deg);
    position:absolute;
    bottom:20vh;
    left:45vw;
  }

  #removeMenuCatArrow:active {
    transition-duration: 200ms;
    transform: rotate(-310deg);
  }

  #categories_left_barre {
    display:none;
  }

  .responsivesearchbarplacesmall {
    display: none;
  }

  .responsivesearchbarplacebig {
    width:95vw;
    margin:2vw;
    // marche mais pas centré
    // display:-webkit-fill-available
  }

  .categoryarrowback {
    height:50px;
    z-index:101;
    position:absolute;
    bottom:25vh;
    left:40vw;
  }
  .subcategoryarrowback {
    height:50px;
    z-index:101;
    position:absolute;
    bottom:25vh;
    left:40vw;
  }

  .navbar {
    padding-right: 1vw;
    padding-left: 1vw;
    justify-content: space-between;
    // height: 6vh;
  }

  .searchbar {
    position: absolute;
    top: 7vh;
    left:1vw;
    // height:15vh;
  }

  .menupanier {
    min-height: 100vh;
    position:fixed;
    width: 97vw;
    position: absolute;
    top:0vh;
    left:-97vw;
    z-index: 1001;
    background-color:white;
    // background-color: rgba(0,0,0,0.0);
    transition-duration: 350ms;
  }

  .open {
    position:fixed;
    transition-duration: 350ms;
    transform:translateX(100%);
    background-color:white;
  }
}


@media screen and (min-width: 481px) {

  .searchbutton {
    width: 3vw;
    height: 3vh;
    margin: auto;
    border-radius: 1vw;
    background-image: url(https://www.pngfind.com/pngs/m/54-545482_vector-search-icon-search-icon-vector-png-transparent.png);
    background-size: cover;
    background-position-x: -5px;
    border: 1px solid grey;
  }

  #categories_left_barre {
    position:absolute;
    top:35vh;
    left:0vw;
    position:fixed;
    height:30vh;
    width:3vw;
    background: black;
    color:white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index:101;
  }

  #removeMenuCatArrow {
    transform: rotate(50deg);
    position: absolute;
    height: 50px;
    z-index: 102;
    bottom: 10%;
    left: 45%;
  }

  #removeMenuCatArrow:hover {
    transition-duration: 500ms;
    transform: rotate(-310deg);
  }

  .removeMenuArrow {
    transform: rotate(50deg);
    position: absolute;
    height: 50px;
    z-index: 102;
    bottom: 10%;
    left: 45%;
  }

  .removeMenuArrow:hover {
    transition-duration: 500ms;
    transform: rotate(-310deg);
  }

  .displaybtncategories {
    display:none;
  }


  .MENUCATEGORY {
    position:absolute;
    top:0;
    left:-15vw;
    padding-left: 2vw;
    padding-top: 10vh;
    position:fixed;
    height:100vh;
    width:15vw;
    background: rgb(247,247,247);
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;

    z-index:1000;
  }

  .subcategorymenu {
    position:absolute;
    top:0;
    left:-15vw;
    padding-top: 10vh;
    padding-left: 2rem;
    position:fixed;
    height:100vh;
    width:15vw;
    background: rgb(240,240,240);
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
    z-index: 1001;
  }

  .subcathover:hover {
    text-decoration: underline;
    cursor:pointer;
    transition-duration: 350ms;
    transform:translateX(1vw);
  }

  .displaysubcat {
    transition-duration: 350ms;
    transform:translateX(198%);
  }

  .displaycat {
    transition-duration: 350ms;
    transform:translateX(100%);
  }

  .responsivesearchbarplacesmall {
    width: 60vw;
  }

  .responsivesearchbarplacebig {
    display:none;
  }

  .navbar {
    padding-right: 1vw;
    padding-left: 1vw;
    justify-content: space-between;
    // height: 6vh;
  }

  .categoryarrowback {
    height:50px;
    z-index:101;
    position:absolute;
    bottom:25vh;
    left:6vw;
  }
  .subcategoryarrowback {
    height:50px;
    z-index:101;
    position:absolute;
    bottom:25vh;
    left:6vw;
  }

  .btnhome:hover {
    padding: 10px 120px 10px 10px;
    transition-delay: 50ms;
    transition-duration: 400ms;
    background: rgba(200,200,200,0.3);
    box-shadow: inset 3px 3px rgba(200,200,200,0.7);
    background:rgba(157, 212, 157, 0.65);
  }

  .menupanier {
    min-height: 100vh;
    position:fixed;
    width: 60vw;
    position: absolute;
    top:0vh;
    left:-60vw;
    z-index: 1001;
    background-color:white;
    transition-duration: 500ms;
  }

  .open {
    position:fixed;
    transition-duration: 500ms;
    transform:translateX(100%);
    background-color:white;
  }
}
