<div class="container" style="margin-top:15vh;margin-bottom:15vh;">
  <h2 style="padding-top:100px;text-align:center;margin-bottom:30px;"> Toutes les catégories </h2>

  <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
    <% @categories.each_with_index do |category, index| %>
        <%=link_to category_path(category) do%>
        <div class="card-category-index my-4 mx-2" style="background-image: url('<%= cl_image_path category.photos.first.key %>');">
          <h3 class="catvignettename"><%= category.name %></h3>
        </div>
        <%end%>
      <%end%>
  </div>
</div>
