<div class="container" style="margin-top:35vh;margin-bottom:15vh;">
  <h2 style="padding-top:100px;text-align:center;margin-bottom:30px;"> Toutes les catégories </h2>

  <div class="row d-flex justify-content-around mb-5">
    <% @categories.each_with_index do |category, index| %>
        <div class="card-category-index my-4 mx-2" style="background-image: url('<%= cl_image_path category.photos.first.key %>');">
          <h3 class="catvignettename"><%= category.name %></h3>
        </div>
      <%end%>
  </div>
</div>
