<div class="container pt-5" style="margin-top: 10vh;">
  <h1 class="mb-5 text-center"
      data-search-target="title">
    <%= pluralize(@products.size, 'Produit disponible', plural: 'Produits disponibles') %>
  </h1>
  <div style="flex-wrap: wrap;display:flex;justify-content:center"
       data-controller="favorites"
       data-search-target="list">
    <%= render 'list', products: @products %>
  </div>
</div>
