<%= turbo_frame_tag :modal do%>
  <div id="zoompreview">
      <%= link_to deletepreview_product_path(@product), data: { turbo_frame: "modal" } do %>
        <i class="fa-regular fa-circle-xmark" style="-webkit-text-stroke: 1px white;font-size: xx-large;color:black;position:absolute;right:3%;top:3%"></i>
      <% end %>

      <% if @product.watermarks.attached? %>
        <%= cl_image_tag @product.watermarks.first.key, style:"padding: 20px;"%>
      <% else %>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg",
          style:"padding: 20px;",
          alt: "Pas d'image disponible",
          class: 'd-block mx-auto') %>
      <% end %>
  </div>
<%end%>
