<%= turbo_frame_tag :modal do%>
  <div id="zoompreview">
      <%= link_to deletepreview_product_path(@product), data: { turbo_frame: "modal" } do %>
        <i class="fa-regular fa-circle-xmark" style="position:absolute;right:3%;top:3%"></i>
      <% end %>

      <% if @product.photos.attached? %>
        <%= cl_image_tag @product.photos.first.key, style:"max-width:90%;max-height:90%"%>
      <% else %>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg",
          style:"max-width:90%;max-height:90%",
          alt: "Pas d'image disponible",
          class: 'd-block mx-auto') %>
      <% end %>
  </div>
<%end%>
