<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<%= link_to '<< Retour', products_path, class: 'back-link' %>
<p>Prix: <%= humanized_money_with_symbol(@product.price) %></p>
